﻿*
{
    padding:0;
    margin:0 0 0 2px;
}
html, body
{
    height: 100%;
}

@font-face {
    font-family: "Chanakya";
    src:  url("Chanakya.ttf");
}

body 
{
    font:10px/150% Verdana, Tahoma, sans-serif;
    color:#000000;
    /*background:url("../images/otis_redding.png") 0 0 repeat;*/
    background-size: 5px 5px;
    background-color: #d4d4ff;
    background-image: -webkit-linear-gradient(rgba(255, 255, 255, .2) 50%, transparent 50%, transparent);
    background-image: -moz-linear-gradient(rgba(255, 255, 255, .2) 50%, transparent 50%, transparent);
    background-image: linear-gradient(rgba(255, 255, 255, .2) 50%, transparent 50%, transparent);
    -pie-background: linear-gradient(rgba(255, 255, 255, .2) 50%, transparent 50%, transparent) 0 0 / 50px #0ae;
    behavior: url(/pie/PIE.htc);
}
.hindiFont
{
    font-family: Chanakya;
    font-size : 1.5em !important;

}
a, object{
    outline:none;
}
a{
    text-decoration:none;
    color:#000000;
}
img{
    border:0;
    vertical-align: sub;
}
ul{ list-style:none; }
table, td , th ,tr
{
    margin:0;
    padding :0;
}
p img {
    padding: 5px;
    max-width: 100%;
}
.clr{
    clear:both;
}


.wrapper { margin:0 auto; width:90%; 
           background-size: 5px 5px;
           background-color: #FFFFFF;
           background-image: -webkit-linear-gradient(rgba(255, 255, 255, .2) 50%, transparent 50%, transparent);
           background-image: -moz-linear-gradient(rgba(255, 255, 255, .2) 50%, transparent 50%, transparent);
           background-image: linear-gradient(rgba(255, 255, 255, .2) 50%, transparent 50%, transparent);
           -pie-background: linear-gradient(rgba(255, 255, 255, .2) 50%, transparent 50%, transparent) 0 0 / 50px #0ae;
           behavior: url(/pie/PIE.htc); 
           min-height:100%; }
.header
{
    background-position: 0 0;
    background: repeat 0 0;
    /*background-color: #ffffff;*/
    border-bottom: #d4d4ff solid;
}
.footer
{
    text-align: center;

    border-top:  #c8c8cc solid;
    height: 10px;
}
.header_left { float:left; width:50%; }
.header_left img { padding:10px; }
.header_right { float:right; width:50%; }
/* 
        LEVEL ONE
*/

.nav {background: #d4d4ff; border: 1px solid #d4d4ff;border-bottom: #d4d4ff solid;}

ul.dropdown                         { position: relative; }
ul.dropdown li                      { font-weight: bold; float: left; zoom: 1; background: #d4d4ff;  }
ul.dropdown a:hover		            { color: #000; }
ul.dropdown a:active                { color: #ffa500; }
ul.dropdown li a                    { display: block; padding: 5px 10px; border-right: 1px solid #333;
                                      color: #000; }
ul.dropdown li:last-child a         { border-right: none; } /* Doesn't work in IE */
ul.dropdown li.hover,
ul.dropdown li:hover                { background: #d4d4ff; color: black; position: relative; }
ul.dropdown li.hover a              { color: black; }


/* 
        LEVEL TWO
*/
ul.dropdown ul 						{ width: 200px; visibility: hidden; position: absolute; top: 100%; left: 0; }
ul.dropdown ul li 					{ font-weight: normal; background: #f6f6f6; color: #000; 
                         border-bottom: 1px solid #ccc; float: none; height:auto; }

/* IE 6 & 7 Needs Inline Block */
ul.dropdown ul li a					{ border-right: none; width: 100%; display: inline-block; } 

/* 
        LEVEL THREE
*/
ul.dropdown ul ul 					{ left: 100%; top: 0; }
ul.dropdown li:hover > ul 			{ visibility: visible; }


.main{ padding:20px; font-size:13px; min-height: 100% }

.main h1 
{
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
    padding-bottom:10px;
    border-bottom:#000 1px solid;
    margin-bottom:10px;
    text-transform:uppercase;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * DataTables display
 */
table.dataTables {
    margin: 0 auto;
    width: 100%;
    clear: both;
    border-collapse: collapse;
}

table.dataTables th {
    /*padding: 3px 0px 3px 10px;*/
    font-weight: bold;
    line-height:30px;

}

table.dataTables tr.heading2 td {
    border-bottom: 1px solid #aaa;
}

table.dataTables td {
    padding: 3px 10px;
}

table.dataTables td.center {
    text-align: center;
}

.btn {


    display: inline-block;

    width: auto;
    height: 25px;
    font-size: 10px;
    line-height: 25px;
    border: 1px solid #999;
    border-radius: 4px;
    cursor: pointer;


    -webkit-box-shadow: inset 0 1px 1px #fff,
        0 1px 2px rgba(0,0,0,0.31); /* Remove this line if you dont want a dropshadow on your buttons*/
    box-shadow: inset 0 1px 1px #fff,
        0 1px 2px rgba(0,0,0,0.31); /* Remove this line if you dont want a dropshadow on your buttons*/

    background: #ccc; /* Old browsers */
    background: -moz-linear-gradient(top, #eee 0%, #ccc 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eee), color-stop(100%,#ccc)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #eee 0%,#ccc 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #eee 0%,#ccc 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #eee 0%,#ccc 100%); /* IE10+ */
    background: linear-gradient(top, #eee 0%,#ccc 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */
}
.btn:hover {
    -webkit-box-shadow: inset 0 1px 1px #fff,
        0 1px 2px rgba(0,0,0,0.31); /* Remove this line if you dont want a dropshadow on your buttons*/
    box-shadow: inset 0 1px 1px #fff,
        0 1px 2px rgba(0,0,0,0.31); /* Remove this line if you dont want a dropshadow on your buttons*/

    background: #ccc; /* Old browsers */
    background: -moz-linear-gradient(top, #fff 0%, #ddd 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fff), color-stop(100%,#ddd)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #fff 0%,#ddd 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #fff 0%,#ddd 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #fff 0%,#ddd 100%); /* IE10+ */
    background: linear-gradient(top, #fff 0%,#ddd 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#dddddd',GradientType=0 ); /* IE6-9 */
}


.btn a, .btn:hover a {
    display: block;
    font-family: "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
    font-weight: bold;
    padding: 0 20px;
    text-align: center;
    text-decoration: none;
    color: #444;
    text-shadow: 0 1px 1px #fff;
}

.btn:hover a {
    line-height: inherit;
}

.btn:active {
    background: #ccc; /* Old browsers */
    background: -moz-linear-gradient(top, #ddd 0%, #fff 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ddd), color-stop(100%,#fff)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ddd 0%,#fff 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ddd 0%,#fff 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ddd 0%,#fff 100%); /* IE10+ */
    background: linear-gradient(top, #ddd 0%,#fff 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dddddd', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}

.btn.primary
{
    font-size: 15px;
    height: 30px;
    line-height: 56px;
    border: 1px solid #7d180a;
    background: #c54224; /* Old browsers */
    background: -moz-linear-gradient(top, #ef6638 0%, #b62918 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ef6638), color-stop(100%,#b62918)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ef6638 0%,#b62918 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ef6638 0%,#b62918 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ef6638 0%,#b62918 100%); /* IE10+ */
    background: linear-gradient(top, #ef6638 0%,#b62918 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ef6638', endColorstr='#b62918',GradientType=0 ); /* IE6-9 */
    -webkit-box-shadow: inset 0 1px 1px #fb926a, 0 1px 2px rgba(0,0,0,0.61); /* Remove this line if you dont want a dropshadow on your buttons*/
    box-shadow: inset 0 1px 1px #fb926a, 0 1px 2px rgba(0,0,0,0.61); /* Remove this line if you dont want a dropshadow on your buttons*/
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    color: #FFFFFF;
}

.btn.primary:hover {
    line-height: 56px;
    background: #ed754e; /* Old browsers */
    background: -moz-linear-gradient(top, #ed754e 0%, #c93e23 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ed754e), color-stop(100%,#c93e23)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ed754e 0%,#c93e23 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ed754e 0%,#c93e23 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ed754e 0%,#c93e23 100%); /* IE10+ */
    background: linear-gradient(top, #ed754e 0%,#c93e23 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ed754e', endColorstr='#c93e23',GradientType=0 ); /* IE6-9 */
}

.btn.primary a, btn.primary:hover a {
    color: #fff;
    text-shadow: 0 1px 2px #6f1c0e,
        0 1px 0 #6f1c0e;
}

.btn.primary:active {
    background: #ed754e; /* Old browsers */
    background: -moz-linear-gradient(top, #c93e23 0%, #ed754e 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c93e23), color-stop(100%,#ed754e)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #c93e23 0%,#ed754e 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #c93e23 0%,#ed754e 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #c93e23 0%,#ed754e 100%); /* IE10+ */
    background: linear-gradient(top, #c93e23 0%,#ed754e 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c93e23', endColorstr='#ed754e',GradientType=0 ); /* IE6-9 */
}

.btn.secondary { 
    font-size: 24px;
    height: 56px;
    line-height: 56px;
    border-color: #1d692d;

    -webkit-box-shadow: inset 0 1px 1px #94dda6,
        0 1px 2px rgba(0,0,0,0.61); /* Remove this line if you dont want a dropshadow on your buttons*/
    box-shadow: inset 0 1px 1px #94dda6,
        0 1px 2px rgba(0,0,0,0.61); /* Remove this line if you dont want a dropshadow on your buttons*/

    background: #5dbb73; /* Old browsers */
    background: -moz-linear-gradient(top, #5dbb73 0%, #2d9047 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5dbb73), color-stop(100%,#2d9047)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #5dbb73 0%,#2d9047 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #5dbb73 0%,#2d9047 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #5dbb73 0%,#2d9047 100%); /* IE10+ */
    background: linear-gradient(top, #5dbb73 0%,#2d9047 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5dbb73', endColorstr='#2d9047',GradientType=0 ); /* IE6-9 */
}

.btn.secondary:hover {
    background: #68ce80; /* Old browsers */
    background: -moz-linear-gradient(top, #68ce80 0%, #3cae5a 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#68ce80), color-stop(100%,#3cae5a)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #68ce80 0%,#3cae5a 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #68ce80 0%,#3cae5a 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #68ce80 0%,#3cae5a 100%); /* IE10+ */
    background: linear-gradient(top, #68ce80 0%,#3cae5a 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#68ce80', endColorstr='#3cae5a',GradientType=0 ); /* IE6-9 */
}

.btn.secondary a, .btn.secondary:hover a {
    color: #fff;
    text-shadow: 0 1px 2px #114a1e,
        0 1px 0 #114a1e;
}

.btn.secondary:active {
    background: #68ce80; /* Old browsers */
    background: -moz-linear-gradient(top, #3cae5a 0%, #68ce80 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3cae5a), color-stop(100%,#68ce80)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #3cae5a 0%,#68ce80 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #3cae5a 0%,#68ce80 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #3cae5a 0%,#68ce80 100%); /* IE10+ */
    background: linear-gradient(top, #3cae5a 0%,#68ce80 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3cae5a', endColorstr='#68ce80',GradientType=0 ); /* IE6-9 */
}

.btn.tertiary {
    font-size: 20px;
    height: 46px;
    line-height: 46px;
    border-color: #c19114;

    background: #feeeb8; /* Old browsers */
    background: -moz-linear-gradient(top, #feeeb8 0%, #fed554 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#feeeb8), color-stop(100%,#fed554)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #feeeb8 0%,#fed554 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #feeeb8 0%,#fed554 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #feeeb8 0%,#fed554 100%); /* IE10+ */
    background: linear-gradient(top, #feeeb8 0%,#fed554 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feeeb8', endColorstr='#fed554',GradientType=0 ); /* IE6-9 */

    -webkit-box-shadow: inset 0 2px 2px #fef9e9,
        inset 0 -3px 5px #fcaa20,
        0 1px 2px rgba(0,0,0,0.61); /* Remove this line if you dont want a dropshadow on your buttons*/
    box-shadow: inset 0 2px 2px #fef9e9,
        inset 0 -3px 5px #fcaa20,
        0 1px 2px rgba(0,0,0,0.61); /* Remove this line if you dont want a dropshadow on your buttons*/
}

.btn.tertiary:hover {
    background: #fef4d3; /* Old browsers */
    background: -moz-linear-gradient(top, #fef4d3 0%, #fcde7e 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fef4d3), color-stop(100%,#fcde7e)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #fef4d3 0%,#fcde7e 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #fef4d3 0%,#fcde7e 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #fef4d3 0%,#fcde7e 100%); /* IE10+ */
    background: linear-gradient(top, #fef4d3 0%,#fcde7e 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fef4d3', endColorstr='#fcde7e',GradientType=0 ); /* IE6-9 */

    -webkit-box-shadow: inset 0 2px 2px #fef9e9,
        inset 0 -3px 5px #fdc841,
        0 1px 2px rgba(0,0,0,0.61); /* Remove this line if you dont want a dropshadow on your buttons*/
    box-shadow: inset 0 2px 2px #fef9e9,
        inset 0 -3px 5px #fdc841,
        0 1px 2px rgba(0,0,0,0.61); /* Remove this line if you dont want a dropshadow on your buttons*/
}

.btn.tertiary a, .btn.tertiary:hover a {
    color: #6a4a00;
    text-shadow: 0 1px 2px #fff;
}

.btn.tertiary:active {
    background: #fef4d3; /* Old browsers */
    background: -moz-linear-gradient(top, #fcde7e 0%, #fef4d3 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcde7e), color-stop(100%,#fef4d3)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #fcde7e 0%,#fef4d3 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #fcde7e 0%,#fef4d3 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #fcde7e 0%,#fef4d3 100%); /* IE10+ */
    background: linear-gradient(top, #fcde7e 0%,#fef4d3 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcde7e', endColorstr='#fef4d3',GradientType=0 ); /* IE6-9 */
}

.oval { 
    -moz-border-radius: 1000px;
    -webkit-border-radius: 1000px;
    border-radius: 1000px;
}

.btn.submit input {
    font: 13px "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
    font-weight: bold;
    padding: 0px 20px;
    text-align: center;
    text-decoration: none;
    background: transparent;
    color: #444;
    text-shadow: 0 1px 1px #fff;
    border: none;
    margin: 0 !important;
    cursor: pointer;
    line-height:26px;
}

.btn.submit {
    text-align: center;
}

.btn.left { 
    text-align: left; 
    text-indent: 12px;
}

/*=======================================================================

        Form Styles
        
 ========================================================================*/
form label {
    display: block;
    font-size: 16px;
    line-height: 18px;
    cursor: pointer;
    margin-bottom: 9px;
}
.field .text input, .field .text input[type="search"], textarea {
    font-size: 10px;
    width: 100%;
    border: none;
    box-shadow: none;
    border: none;
    padding: 0;
    margin: 0;
    outline: none;
    resize: none;
}

form textarea {
    height: 150px;
}

.field .text input[type="search"] {
    -webkit-appearance: textfield;
}

.field .text, .field .search, .field .textarea {

    font-size: 13px;
    padding: 6px 10px;
    outline: none !important;
    background: #fff;
    box-shadow: inset 0 0px 0px #ccc,
        0 1px 0 #f4fff6;
    border: 1px solid #b7b7b7;
    border-radius: 4px;

}

.field .text.oval {
    border-radius: 1000px;
}

.field .search {
    padding: 2px 10px;
    line-height: 24px;
    margin-bottom: 0;
    border: 1px solid #1d692d;
    box-shadow: 0px 1px 1px #94dda6,
        inset 0 1px 3px #888;
}
.field .text:focus
{
    background-color:#82c8fb;
}
label + .text, label + textarea, label + select, label + div.dropdown, select + div.dropdown {
    margin-top: -9px;
}

.field.error .text,
.field.error .textarea {
    margin-top: 45px;
    box-shadow: inset 0 2px 3px #feb9a2,
        0 1px 0 #f4fff6	;
    -webkit-transition-duration: .2s;
}

.field.error .text, .field.error .textarea, .field.error input, .field.error textarea {
    color: #cd4225;
    background: #ffdace;
}
.msg {
    opacity: 1;
    height: auto;
    overflow: visible;
    top: 0px;
    display: block;
    width: 100%;
    background: #b72a18;
    color: #fff;
    font-weight: 500;
    font-size: 14px;
    text-align: center;
    padding: 8px 0;
    border-radius: 4px;
    -webkit-transition-duration: .2s;
}


.loader
{
    position: absolute;
    top: 200px;
    left: 500px;
}
.error
{
    padding: 5px;
    border: 1px solid #ECECF2;
    background-color: #ffcc99;
    color: #000000;
    font-family: arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: normal;
    width: 90%;
}
span.note
{
    color: #FF0000;
    font-weight: bold;
    text-transform: none;
}
/**
 * GRIDVIEW STYLES
 **/
.gridview
{
    font-family: "arial";
    background-color: #FFFFFF;
    width: 100%;
    font-size: small;
    border: 2px solid #F9FFFF;
    margin-top: 10px;
}
.gridview th
{
    /*background: #7AC142;*/
    padding: 5px;
    font-size: 13px;
    /*background-image: url('../images/bghead5.png');*/
    background-color: #999;
    color: #000000;
    font-weight: bold;
    height: 22px;
    border: 2px solid #F9FFFF;
    /*background-repeat: repeat-x;*/
}
.gridview th a{
    color: #003300;
    text-decoration: none;
}
.gridview th a:hover{
    color: #003300;
    text-decoration: underline;
}
.gridview td
{
    border: 2px solid #F9FFFF;
    background: #ECFFFF;
    color: #333333;
    font: small "arial";
    padding: 4px;
}
.gridview tr.even td {
    background: #FFFFFF;
}
.gridview td a{
    color: #003300;
    font: bold small "arial";
    padding: 2px;
    text-decoration: none;
}
.gridview td a:hover {
    color: red;
    font-weight: bold;
    text-decoration:underline;     
}

.gridview td:hover
{
    background: #FFFFCC;
}
.gridview tr.even td:hover {
    background: #FFFFCC;
}
.frmtable
{
    border: 1px solid #999;
    border-radius: 4px;

}
.parentmenu
{

    font-size: 14px;
}
.childmenu
{
    font-size: 13px;
    padding-left:  20px;
}
.menulist
{
    border: 1px solid #999;
    border-radius: 4px;
    width: 300px;
    padding: 10px;
}

/* Style Sheet for TAB in Admission form */


/*----- Tabs -----*/
.tabs {
    width:100%;
    display:inline-block;
}
 
    /*----- Tab Links -----*/
    /* Clearfix */
    .tab-links:after {
        display:block;
        clear:both;
        content:'';
    }
 
    .tab-links li {
        margin:0px 5px;
        float:left;
        list-style:none;
    }
 
        .tab-links a {
            padding:9px 15px;
            display:inline-block;
            border-radius:3px 3px 0px 0px;
            background:#7FB5DA;
            font-size:16px;
            font-weight:600;
            color:#4c4c4c;
            transition:all linear 0.15s;
        }
 
        .tab-links a:hover {
            background:#a7cce5;
            text-decoration:none;
        }
 
    li.active a, li.active a:hover {
        background:#fff;
        color:#4c4c4c;
    }
 
    /*----- Content of Tabs -----*/
    .tab-content {
        padding:15px;
        border-radius:3px;
        box-shadow:-1px 1px 1px rgba(0,0,0,0.15);
        background:#fff;
    }
 
        .tab {
            display:none;
        }
 
        .tab.active {
            display:block;
        }

