
.block-header h2 {
    margin: 0 !important;
    color: #666 !important;
    font-weight: normal;
    font-size: 30px;
    text-align: left;
    color: #4e4e4e;
    margin-bottom: 10px;
}

/* Card ======================================== */
.info-box .content .number {
    font-weight: normal;
    font-size: 15px;
/*    margin-top: 20px;*/
    color: #555 !important;
}

.bg-red {
    background-color: #F44336 !important;
    color: #fff;
}

.bg-red .content .text,
.bg-red .content .number {
    color: #fff !important;
}

.bg-pink {
    background-color: #E91E63 !important;
    color: #fff;
}

.bg-pink .content .text,
.bg-pink .content .number {
    color: #fff !important;
}

.bg-purple {
    background-color: #9C27B0 !important;
    color: #fff;
}

.bg-purple .content .text,
.bg-purple .content .number {
    color: #fff !important;
}

.bg-deep-purple {
    background-color: #673AB7 !important;
    color: #fff;
}

.bg-deep-purple .content .text,
.bg-deep-purple .content .number {
    color: #fff !important;
}

.bg-indigo {
    background-color: #3F51B5 !important;
    color: #fff;
}

.bg-indigo .content .text,
.bg-indigo .content .number {
    color: #fff !important;
}

.bg-blue {
    background-color: #2196F3 !important;
    color: #fff;
}

.bg-blue .content .text,
.bg-blue .content .number {
    color: #fff !important;
}

.bg-light-blue {
    background-color: #03A9F4 !important;
    color: #fff;
}

.bg-light-blue .content .text,
.bg-light-blue .content .number {
    color: #fff !important;
}

.bg-cyan {
    background-color: #00BCD4 !important;
    color: #fff;
}

.bg-cyan .content .text,
.bg-cyan .content .number {
    color: #fff !important;
}

.bg-teal {
    background-color: #009688 !important;
    color: #fff;
}

.bg-teal .content .text,
.bg-teal .content .number {
    color: #fff !important;
}

.bg-green {
    background-color: #4CAF50 !important;
    color: #fff;
}

.bg-green .content .text,
.bg-green .content .number {
    color: #fff !important;
}

.bg-light-green {
    background-color: #8BC34A !important;
    color: #fff;
}

.bg-light-green .content .text,
.bg-light-green .content .number {
    color: #fff !important;
}

.bg-lime {
    background-color: #CDDC39 !important;
    color: #fff;
}

.bg-lime .content .text,
.bg-lime .content .number {
    color: #fff !important;
}

.bg-yellow {
    background-color: #ffe821 !important;
    color: #fff;
}

.bg-yellow .content .text,
.bg-yellow .content .number {
    color: #fff !important;
}

.bg-amber {
    background-color: #FFC107 !important;
    color: #fff;
}

.bg-amber .content .text,
.bg-amber .content .number {
    color: #fff !important;
}

.bg-orange {
    background-color: #FF9800 !important;
    color: #fff;
}

.bg-orange .content .text,
.bg-orange .content .number {
    color: #fff !important;
}

.bg-deep-orange {
    background-color: #FF5722 !important;
    color: #fff;
}

.bg-deep-orange .content .text,
.bg-deep-orange .content .number {
    color: #fff !important;
}

.bg-brown {
    background-color: #795548 !important;
    color: #fff;
}

.bg-brown .content .text,
.bg-brown .content .number {
    color: #fff !important;
}

.bg-grey {
    background-color: #9E9E9E !important;
    color: #fff;
}

.bg-grey .content .text,
.bg-grey .content .number {
    color: #fff !important;
}

.bg-blue-grey {
    background-color: #607D8B !important;
    color: #fff;
}

.bg-blue-grey .content .text,
.bg-blue-grey .content .number {
    color: #fff !important;
}

.bg-black {
    background-color: #000000 !important;
    color: #fff;
}

.bg-black .content .text,
.bg-black .content .number {
    color: #fff !important;
}

.bg-white {
    background-color: #ffffff !important;
    color: #fff;
}

.bg-white .content .text,
.bg-white .content .number {
    color: #fff !important;
}

.col-red {
    color: #F44336 !important;
}

.col-pink {
    color: #E91E63 !important;
}

.col-purple {
    color: #9C27B0 !important;
}

.col-deep-purple {
    color: #673AB7 !important;
}

.col-indigo {
    color: #3F51B5 !important;
}

.col-blue {
    color: #2196F3 !important;
}

.col-light-blue {
    color: #03A9F4 !important;
}

.col-cyan {
    color: #00BCD4 !important;
}

.col-teal {
    color: #009688 !important;
}

.col-green {
    color: #4CAF50 !important;
}

.col-light-green {
    color: #8BC34A !important;
}

.col-lime {
    color: #CDDC39 !important;
}

.col-yellow {
    color: #ffe821 !important;
}

.col-amber {
    color: #FFC107 !important;
}

.col-orange {
    color: #FF9800 !important;
}

.col-deep-orange {
    color: #FF5722 !important;
}

.col-brown {
    color: #795548 !important;
}

.col-grey {
    color: #9E9E9E !important;
}

.col-blue-grey {
    color: #607D8B !important;
}

.col-black {
    color: #000000 !important;
}

.col-white {
    color: #ffffff !important;
}

/* Infobox ===================================== */
.info-box {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    height: 80px;
    display: flex;
    cursor: default;
    background-color: #fff;
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;
}

.info-box .icon {
    display: inline-block;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.12);
    width: 80px;
}

.info-box .icon i {
    color: #fff !important;
    font-size: 50px !important;
    line-height: 80px !important;
}

.info-box .icon .chart.chart-bar {
    height: 100%;
    line-height: 100px;
}

.info-box .icon .chart.chart-bar canvas {
    vertical-align: baseline !important;
}

.info-box .icon .chart.chart-pie {
    height: 100%;
    line-height: 123px;
}

.info-box .icon .chart.chart-pie canvas {
    vertical-align: baseline !important;
}

.info-box .icon .chart.chart-line {
    height: 100%;
    line-height: 115px;
}

.info-box .icon .chart.chart-line canvas {
    vertical-align: baseline !important;
}

.info-box .content {
    display: inline-block;
    padding: 7px 10px;
}

.info-box .content .text {
    font-size: 18px;
    margin-top: 20px;
    color: #555;
}

.info-box .content .number2 {
    font-weight: normal;
    font-size: 26px;
    margin-top: -4px;
    color: #555;
}

.bg-pink .content .text, .bg-pink .content .number2 {
    color: #fff !important;
}

.card .bg-red, .card .bg-pink, .card .bg-purple, .card .bg-deep-purple, .card .bg-indigo, .card .bg-blue, .card .bg-light-blue, .card .bg-cyan, .card .bg-teal, .card .bg-green, .card .bg-light-green, .card .bg-lime, .card .bg-yellow, .card .bg-amber, .card .bg-orange, .card .bg-deep-orange, .card .bg-brown, .card .bg-grey, .card .bg-blue-grey, .card .bg-black {
    border-bottom: none !important;
    color: #fff !important;
}

.bg-cyan {
    background-color: #00BCD4 !important;
    color: #fff;
}

.bg-cyan .content .text, .bg-cyan .content .number2, .number3 {
    color: #fff !important;
    /*    font-size: 26px !important;*/
}

.card {
    background: #fff;
    min-height: 440px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    position: relative;
    /*    margin-bottom: 30px;*/
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    border-radius: 2px;
    border: 1px solid #83868e;
}

.card .body {
    font-size: 14px;
    color: #555;
    padding: 20px;
}

.font-bold {
    font-weight: bold;
}

.m-b--35 {
    margin-bottom: -35px;
}

.dashboard-stat-list {
    list-style: none;
    padding-left: 0;
    margin-top: 40px;
}

.dashboard-stat-list li {
    padding: 16px 0 0 0;
}

.card .header {
    color: #555;
    padding: 20px;
    position: relative;
    border-bottom: 1px solid rgba(204, 204, 204, 0.35);
}

.card .header h2 {
    margin: 0;
    font-size: 18px;
    font-weight: normal;
    color: #111;
}

.card .header .header-dropdown {
    position: absolute;
    top: 20px;
    right: 15px;
    list-style: none;
}

.m-r--5 {
    margin-right: -5px;
}

ul, ol {
    margin-top: 0;
    margin-bottom: 10px;
}

.info-box.hover-zoom-effect .icon {
    overflow: hidden;
}

.info-box.hover-zoom-effect .icon i {
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.info-box.hover-zoom-effect:hover .icon i {
    opacity: 0.4;
    -moz-transform: rotate(-32deg) scale(1.4);
    -ms-transform: rotate(-32deg) scale(1.4);
    -o-transform: rotate(-32deg) scale(1.4);
    -webkit-transform: rotate(-32deg) scale(1.4);
    transform: rotate(-32deg) scale(1.4);
}

.info-box.hover-expand-effect:after {
    background-color: rgba(0, 0, 0, 0.05);
    content: ".";
    position: absolute;
    left: 80px;
    top: 0;
    width: 0;
    height: 100%;
    color: transparent;
    -moz-transition: all 0.95s;
    -o-transition: all 0.95s;
    -webkit-transition: all 0.95s;
    transition: all 0.95s;
}

.info-box.hover-expand-effect:hover:after {
    width: 100%;
}

/*    Dashboard CSS Start 08/08/2018  */

.align-left {
    text-align: left;
}

.align-center {
    text-align: center;
}

.align-right {
    text-align: right;
}

/* Materialize Css | Taken from www.materializecss.com */
/* Media ======================================= */

/* General ===================================== */
body {
    /*  background-color: #e9e9e9;*/
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    font-family: 'Roboto', Arial, Tahoma, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
}

button,
input,
select,
a {
    outline: none !important;
}

.no-animate {
    -o-transition-property: none !important;
    -moz-transition-property: none !important;
    -ms-transition-property: none !important;
    -webkit-transition-property: none !important;
    transition-property: none !important;
    -o-transform: none !important;
    -moz-transform: none !important;
    -ms-transform: none !important;
    -webkit-transform: none !important;
    transform: none !important;
    -webkit-animation: none !important;
    -moz-animation: none !important;
    -o-animation: none !important;
    -ms-animation: none !important;
    animation: none !important;
}

section.content {
    margin: 100px 15px 0 315px;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

/* Dashboard =================================== */
.dashboard-flot-chart {
    height: 275px;
}

.dashboard-donut-chart {
    height: 265px;
}

.dashboard-line-chart {
    height: 250px;
}

.dashboard-stat-list {
    list-style: none;
    padding-left: 0;
    margin-top: 40px;
}

.dashboard-stat-list li {
    padding: 16px 0 0 0;
}

.dashboard-stat-list li small {
    font-size: 8px;
}

.dashboard-task-infos .progress {
    height: 10px;
    margin-bottom: 0;
    position: relative;
    top: 6px;
}

/* Flot */
.flot-chart {
    width: 100%;
    height: 330px;
}

.panel-switch-btn {
    position: relative;
    right: 20px;
    z-index: 9;
}

.panel-switch-btn label {
    font-weight: bold !important;
}

.legendLabel {
    width: 85px !important;
    position: relative;
    left: 3px;
}

#multiple_axis_chart .legendLabel {
    width: 160px !important;
}

/* Sparkline */
.sparkline {
    text-align: center;
}

/* Searchbar =================================== */
.search-bar {
    position: fixed;
    top: -100px;
    left: 0;
    z-index: 9999999;
    width: 100%;
    -moz-transition: 0.25s;
    -o-transition: 0.25s;
    -webkit-transition: 0.25s;
    transition: 0.25s;
}

.search-bar.open {
    top: 0;
}

.search-bar .search-icon {
    position: absolute;
    top: 20px;
    left: 14px;
}

.search-bar .search-icon .material-icons {
    font-size: 32px;
    color: #999;
}

.search-bar .close-search {
    position: absolute;
    cursor: pointer;
    font-size: 30px;
    top: 16px;
    right: 18px;
}

.search-bar .close-search .material-icons {
    color: #999;
    opacity: 1;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.search-bar .close-search .material-icons:hover {
    opacity: .5;
}

.search-bar input[type="text"] {
    width: 100%;
    font-size: 16px;
    padding: 25px 60px 23px 56px;
    border: none;
}

/* Jquery DataTable ============================ */
.dataTables_wrapper {
    position: relative;
}

.dataTables_wrapper select {
    border: none;
    border-bottom: 1px solid #ddd;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    box-shadow: none;
}

.dataTables_wrapper select:active, .dataTables_wrapper select:focus {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    box-shadow: none;
}

.dataTables_wrapper input[type="search"] {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    box-shadow: none;
    border: none;
    font-size: 12px;
    border-bottom: 1px solid #ddd;
}

.dataTables_wrapper input[type="search"]:focus, .dataTables_wrapper input[type="search"]:active {
    border-bottom: 2px solid #1f91f3;
}

.dataTables_wrapper .dt-buttons {
    float: left;
}

.dataTables_wrapper .dt-buttons a.dt-button {
    background-color: #607D8B;
    color: #fff;
    padding: 7px 12px;
    margin-right: 5px;
    text-decoration: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16), 0 2px 10px rgba(0, 0, 0, 0.12);
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    border-radius: 2px;
    border: none;
    font-size: 13px;
    outline: none;
}

.dataTables_wrapper .dt-buttons a.dt-button:active {
    opacity: 0.8;
}

.dt-button-info {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 400px;
    text-align: center;
    background-color: #fff;
    border: 2px solid #999;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    margin-top: -100px;
    margin-left: -200px;
    z-index: 21;
}

.dt-button-info h2 {
    color: #777;
}

.dt-button-info div {
    color: #777;
    margin-bottom: 20px;
}

/*   New Dashboard CSS Start 13/08/2018  */

.dashboardblog {
    width: 100%;
    float: left;
}

.dashleft {
    width: 20%;
    float: left;
    background-color: #fafafa;
    border: 1px solid #7a7d86;
    margin-right: 1%;
}

.rkcldash {
    width: 100%;
    float: left;
    background-color: #13afbe; /* 20/11/2018 change */
    padding: 0% 0% 0% 3%;
}

.rkcldash span {
    width: 40%;
    float: left;
    padding: 10px 0px 10px 30px;
}

.rkcldashhad {
    width: 55%;
    float: left;
    font-size: 16px;
    color: #fff;
    padding: 4% 0% 3% 0%;
}

.rkcldashhad b {
    width: 100%;
    float: left;
    font-size: 18px;
}

.dashmenu {
    width: 100%;
    float: left; /*  height: 285px; overflow-x: hidden; overflow-y: scroll;*/
}

.dashmenu span {
    margin-right: 0px;
}

.dashmenu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #f9f9f9;;
}

.dashmenu li {
    list-style: none;
    text-decoration: none;
    color: #5c606b;
    font-size: 16px;
    padding: 0px;
    border-bottom: 1px solid #b3b5bb;
    font-family: Myriad Pro;
}

.dashmenu li a {
    display: block;
    color: #5c606b;
    text-decoration: none;
    padding: 0px 16px 0px 0px;
}

.dashmenu li a:hover {
    background-color: #13afbe; /* 20/11/2018 change */
    color: #fff;
    padding: 0px 16px 0px 0px;
}

.dashmenu li a:hover i {
    background-color: #13afbe;
    color: #fff;
    border-left: 10px solid #85d4dc; /* 20/11/2018 change */
}

.dashmenu li.active {
    background: #f7402e;
    color: #fff; /* background-image: url("../images/dash-icon/net_banking.png")*/;
}

.dashmenu li.active a, .dashmenu li.active a i {
    background: #f7402e;
    color: #fff;
    border-left: 5px solid #f79d94;
}

.regiuser {
    background-color: #13afbe; /* 20/11/2018 change */
    padding: 8px 20px;
    color: #fff;
    font-size: 22px;
}
.regiuser a {
    background-color: #b968ad;
    padding: 8px 20px;
    color: #fff;
    font-size: 22px;
}

.regiuser span {
    float: right;
}

.dashmid {
    width: 56%;
    float: left;
}

.dashmidother {
    width: 79%;
    float: left;
}
.dashmid40 {
    width: 35%;
    float: left;
}

.dashmid2 {
    width: 9%;
    float: left;
}

.dashright {
    width: 23%;
    float: right;
}

.salesblog {
    background-color: #fff;
    border: 1px solid #83868e;
    margin-bottom: 18px;
}

.salesheading {
    background-color: #fe8f05;
    font-size: 22px;
    color: #fff;
    padding: 7px 10px;
}

.paichart {
    width: 100%;
    text-align: center;
}

.paichart span {
    width: 100%;
    float: left;
    color: #111111;
    border-bottom: 1px solid #ededed;
    padding: 10px 10px 7px 10px;
    text-align: left;
}

.leftsect {
    width: 23%;
    float: left;
    background-color: #3db4ac;
}

.fafont {
    display: inline-block;
    font: 18px/1 FontAwesome !important;
    text-rendering: auto;
    margin-right: 15px;
    background-color: #efeeed; /*padding: 15px 20px 15px 20px*/
    padding: 7px 20px 7px 20px;
}

/* Style the tab */
div.tab {
    overflow: hidden;
    border: 1px solid
    background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
div.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
div.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
div.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    border: 1px solid #ccc;
    border-top: none;
}


/*--------- RKCL application QR Code CSS Start --------*/

.qrcodeblog{ width: 100%; float: left;}
.qrcode{ width: 60%; float: left;}
.qrcode h4 { font-size: 24px; color: #55636B;}
.qrcode ol{ margin: 0px; padding: 0px;}
.qrcode li{ list-style: none; text-decoration: none; padding: 10px 20px;}
.qrcode li a{ list-style: none; text-decoration: none; color: #4b4b4b;}
.qrcode li a:hover{ list-style: none; text-decoration: none;  color: #55636B;}
.getstart{ width: 100%; float: left; padding: 20px; text-align: justify;}
.getstart a{ color: #4b4b4b; text-decoration: none;}
.getstart a:hover{ color: #55636B}
.qrpic{ width: 40%; float: left;}
.qrvideo{ width: 100%; clear: both; background-color: #F8F9FA; text-align: center; padding: 20px 0px;}
.height180{ min-height:180px;}
.height170{ min-height:180px;}

/*--------- RKCL application QR Code CSS Start --------*/


/*   New Dashboard CSS End 13/08/2018  */

@media (min-width: 768px) and (max-width: 991px) {
    .dashleft {
        width: 100%;
        float: left;
    }

    .dashmid {
        width: 100%;
        float: left;
    }

    .dashright {
        width: 100%;
        float: right;
    }
.dashmidother {width: 100%;}
img {margin-left: 0px;}
.tabcontent{ margin-top: 20px; margin-bottom: 20px;}
.paddingB20{padding-bottom: 70px !important;}
.innerfooter { position: inherit !important; bottom:0px;}
.height180 { min-height: 170px;}
.height170 { min-height: 270px;}
}

@media (min-width: 640px) and (max-width: 767px) {
    .dashleft {
        width: 100%;
        float: left;
    }

    .dashmid {
        width: 100%;
        float: left;
    }

    .dashright {
        width: 100%;
        float: right;
    }
    
.dashmidother {width: 100%;}
img {margin-left: 0px;}
.tabcontent{ margin-top: 20px;}
.paddingB20{padding-bottom: 70px !important;}
.qrpic {width: 100%;float: left;}
.height180 { min-height: 530px;}
.height170 { min-height: 530px;}
.W20 {width: 100%;}

}

@media (max-width: 480px) {
    .dashleft {
        width: 100%;
        float: left;
    }

    .dashmid {
        width: 100%;
        float: left;
    }

    .dashright {
        width: 100%;
        float: right;
    }
.dashmidother {width: 100%;}
img {margin-left: 0px;}
.tabcontent{ margin-top: 20px; margin-bottom: 20px;}
.paddingB20{padding-bottom: 70px !important;}
.innerfooter { position: inherit !important; bottom:0px;}
.qrcode {width: 100%; float: left;}
.qrpic {width: 100%;float: left;}
.height180 { min-height: 570px;}
.height170 { min-height: 470px;}
.W20 {width: 100%;}

}

@media (max-width: 360px) {
    .dashleft {
        width: 100%;
        float: left;
    }

    .dashmid {
        width: 100%;
        float: left;
    }

    .dashright {
        width: 100%;
        float: right;
    }
.dashmidother {width: 100%;}
img {margin-left: 0px;}
.tabcontent{ margin-top: 20px; margin-bottom: 20px;}
.paddingB20{padding-bottom: 100px !important;}
.innerfooter { position: inherit !important; bottom:0px;}
.qrcode {width: 100%; float: left;}
.qrpic {width: 100%;float: left;}
.height180 { min-height: 630px;}
.height170 { min-height: 470px;}
.W20 {width: 100%;}

}

@media (max-width: 320px) {
    .dashleft {
        width: 100%;
        float: left;
    }

    .dashmid {
        width: 100%;
        float: left;
    }

    .dashright {
        width: 100%;
        float: right;
    }
.dashmidother {width: 100%;}
 img {margin-left: 0px;}
.tabcontent{ margin-top: 20px; margin-bottom: 20px;}
.paddingB20{padding-bottom: 100px !important;}
.innerfooter { position: inherit !important; bottom:0px;}
.qrcode {width: 100%; float: left;}
.qrpic {width: 100%;float: left;}
.height180 { min-height: 630px;}
.height170 { min-height: 470px;}
.W20 {width: 100%;}
}

.marginT20{margin-top: 20px;}
.paddingB20{padding-bottom: 20px;}






/*--------- RKCL Dashborad CSS 06-09-2018 start --------*/
.innerfooter {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: #292c2f;
        color: white;
        text-align: center;
        padding: 10px 0;
    }
    
    /*--------- RKCL Dashborad CSS 06-09-2018 End --------*/