.PaddingTL{ /* padding: 15px 17px 15px 17px;*/ padding: 10px 17px 0px 17px; vertical-align: middle;}




.icons-01-08:before {
  content: "\62";
}
.icons-01-09:before {
  content: "\63";
}
.icons-01-13:before {
  content: "\64";
}
.icons-01-14:before {
  content: "\65";
}
.icons-01-15:before {
  content: "\66";
}
.icons-01-16:before {
  content: "\67";
}
.icons-01-12-new:before {
  content: "\68";
}
.icons-asset-2xxxhdpi:before {
  content: "\61";
}
.icons-asset-3xxxhdpi:before {
  content: "\69";
}
.icons-asset-4xxxhdpi:before {
  content: "\6a";
}
.icons-asset-5xxxhdpi:before {
  content: "\6b";
}
/*
.icon-asset-6xxxhdpi:before {
  content: "\6c";
}
*/
/*
.icon-asset-7xxxhdpi:before {
  content: "\6d";
}
*/
.icons-asset-8xxxhdpi:before {
  content: "\6e";
}
.icons-asset-9xxxhdpi:before {
  content: "\6f";
}


@font-face {
  font-family: 'rkclfonticon';
  src:  url('../fonts/rkclfonticon.eot?7bco45');
  src:  url('../fonts/rkclfonticon.eot?7bco45#iefix') format('embedded-opentype'),
    url('../fonts/rkclfonticon.ttf?7bco45') format('truetype'),
    url('../fonts/rkclfonticon.woff?7bco45') format('woff'),
    url('../fonts/rkclfonticon.svg?7bco45#rkclfonticon') format('svg');
  font-weight: normal;
  font-style: normal;
}

span {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'rkclfonticon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icons-Asset-2xxxhdpi:before {
  content: "\e900";
  color: #2b5d93;
}
.icons-Asset-3xxxhdpi:before {
  content: "\e901";
  color: #2b5d93;
}
.icons-Asset-4xxxhdpi:before {
  content: "\e902";
  color: #13afbe;
}
.icons-Asset-6xxxhdpi .path1:before {
  content: "\e903";
  color: rgb(247, 151, 35);
}
.icons-Asset-6xxxhdpi .path2:before {
  content: "\e904";
  margin-left: -1.044921875em;
  color: rgb(247, 152, 37);
}
.icons-Asset-6xxxhdpi .path3:before {
  content: "\e905";
  margin-left: -1.044921875em;
  color: rgb(247, 151, 34);
}
.icons-Asset-7xxxhdpi .path1:before {
  content: "\e906";
  color: rgb(11, 31, 86);
}
.icons-Asset-7xxxhdpi .path2:before {
  content: "\e907";
  margin-left: -0.9814453125em;
  color: rgb(3, 94, 216);
}
.icons-Asset-7xxxhdpi .path3:before {
  content: "\e908";
  margin-left: -0.9814453125em;
  color: rgb(3, 94, 216);
}
.icons-Asset-7xxxhdpi .path4:before {
  content: "\e909";
  margin-left: -0.9814453125em;
  color: rgb(11, 31, 86);
}
.icons-Asset-7xxxhdpi .path5:before {
  content: "\e90a";
  margin-left: -0.9814453125em;
  color: rgb(11, 31, 86);
}
.icons-Asset-7xxxhdpi .path6:before {
  content: "\e90b";
  margin-left: -0.9814453125em;
  color: rgb(3, 94, 216);
}
.icons-Asset-7xxxhdpi .path7:before {
  content: "\e90c";
  margin-left: -0.9814453125em;
  color: rgb(3, 94, 216);
}
.icons-Asset-8xxxhdpi:before {
  content: "\e90d";
  color: #00aeef;
}
.icons-Asset-9xxxhdpi:before {
  content: "\e90e";
  color: #2b5d93;
}

.glyph {
  font-size: 16px;
  width: 15em;
  padding-bottom: 1em;
  margin-right: 4em;
  margin-bottom: 1em;
  float: left;
  overflow: hidden;
}
.fs1 {
  font-size: 26px;
}
.fs2 {
    font-size: 20px;
}
.fs3 {
    font-size: 24px;
}
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.pbs, .pvs {
  padding-bottom: .25em;
}
