 /* Style all input fields */
    

    /* Style the submit button */
    input[type=submit] { background-color: #4CAF50; color: white;}

    /* Style the container for inputs */

    /* The message box is shown when the user clicks on the password field */
    #message { display:none; background: #fff; color: #000; position: relative; padding: 0px 0px 10px 20px; margin-top: 0px;}
    #message p { padding: 5px 20px 5px 8px; font-size: 14px; margin: 0px;}

    /* Add a green text color and a checkmark when the requirements are right */
    .valid { color: green;}
    .valid:before { position: relative; left: -10px; content: "✔";}

    /* Add a red text color and an "x" when the requirements are wrong */
    .invalid { color: red;}
    .invalid:before { position: relative; left: -10px; content: "✖";}
    
/*
    .container {
        width: 570px !important;
    }
*/
    
    /* New CSS 13/11/2018 */
    .forgotblog{width:40%; margin: 0 auto;}
    .lockicon{text-align: center; padding: 15px 0px 10px 0px;}
    .panelheading{color: #0c96c0; text-align: center; font-size: 20px; font-weight: bold; padding: 7px 15px; width: 89%; margin-left: 5%; border-bottom: 1px solid #dfe1e1;}
    .inputsearch { width: 96%; padding: 8px; border: 1px solid #dbdcd4; background-color: #fcf8d4; border-radius: 4px; box-sizing: border-box;  margin: 1% 0px 2% 2%;}
    .subbtn{ background-color: #0c96c0; padding:2px 25px; margin:30px 0px 22px 0px; font-weight:bold; font-size:17px; color: #fff;}
    .subbtn:hover{ color: #eee;}
    .locksmall {text-align: center;padding: 0px; width: 16%;float: left;}
    .panelforgot {color: #0c96c0;font-size: 20px;font-weight: bold;padding: 7px 15px; width: 91%; margin:0px 0px 2% 4%; border-bottom: 1px solid #dfe1e1; padding-bottom: 25px;}
    .subbtn2 {background-color: #0c96c0;padding: 2px 25px;margin: 15px 0px 10px 25px; font-weight: bold; font-size: 17px; color: #fff; float: left;}
    .subbtn2:hover{ color: #eee;}
    .subbtn3 {background-color: #0c96c0;padding: 2px 25px;margin: 0px 0px 5px 25px; font-weight: bold; font-size: 17px; color: #fff; float: left;}
    .subbtn3:hover{ color: #eee;}
    .resendotp{width: 28%; float: right; margin-top: 25px;}
    .validate{margin-left: 25px;width: 80%;float: left;}
    .goto{width: 15%;float: right;}
    
    .reload {text-align: center;padding: 20px 25px; width: 25%;float: left;}
    .clicktext{padding: 20px 15px;width: 72%;float: left;}
    .closetext{ width: 75%; margin: 0px 10%; font-size: 20px; padding: 13px 20px 20px;text-align: center; border-top: 1px solid #e5e5e5; cursor: pointer;}


    .field-icon {
        float: left;
        position: absolute;
        z-index: 2;
        right: 25px;
        top: 35px;
        /*  margin-left: -25px;
          margin-top: -130px;
          padding-left: -5px;
          position: relative;
          z-index: 2;*/
    }
    
@media (min-width: 992px) and (max-width: 1199px) {
.forgotblog{ width: 96%} 
.lockicon{ width: 95%;}   
    
}
@media (min-width: 768px) and (max-width: 991px) {
.forgotblog{ width: 96%} 
.lockicon{ width: 95%;}    
    
}

@media (min-width: 640px) and (max-width: 767px){
.forgotblog{ width: 96%} 
.lockicon{ width: 80%;}
.locksmall {padding: 0px; width: 25%;}
    
}

@media (max-width: 480px) {
.forgotblog{ width: 96%}   
.lockicon{ width: 70%;}    
.locksmall {text-align: center;padding: 0px; width: 71%;}   
    
}


@media (max-width: 360px) {
.forgotblog{ width: 96%}   
.lockicon{ width: 70%;}    
.locksmall {text-align: center;padding: 0px; width: 71%;} 
.validate { margin-left: 10px; width: 77%; float: left;}
.goto {width: 18%;float: right;}
    
}

@media (max-width: 320px) {
.forgotblog{ width: 96%}   
.lockicon{ width: 70%;}   
.locksmall {text-align: center;padding: 0px; width: 71%;}   
.validate { margin-left: 10px; width: 77%; float: left;}
.goto {width: 18%;float: right;} 
    
    
}



