.profilebox{ width: 100%; background-color: #fff; border: 1px solid #428bca; padding: 10px 26px; text-align: center;}
.profilepic{ width: 100%; padding: 5px;}
.proheading{ font-size: 16px; text-align: center;}
.persdeta{width: 100%; float: left; background-color: #f1f1f1; border: 1px solid #428bca;  margin-top: 10px;}
.persdeta span{ width: 39%; float: left;background-color: #428bca; font-size: 16px; color: #fff; padding: 5px 20px;}
.personalblog{ width: 69%; float: left;}
.persdetablog{ width: 100%; float: left; padding: 15px 0px 0px 5px;}
.persdetacont{ width: 50%; float: left;}
.persdetacont span{margin-top: 8px;width: 33%; float: left; font-size: 14px; font-family: Verdana;}
.persdetacont p{ width: 65%; min-height: 32px; float: left;background-color: #f1f1f1; font-size: 12px; font-family: Verdana; border:1px solid #dddddd; border-radius: 5px;  padding: 7px 5px 7px 10px; margin: 0px;}
.bdrblue{ border: 1px solid #428bca; padding-bottom: 20px; float: left;}
.marginT30{ margin-top: 30px;}
.exampannel{ width: 18.7%; float: left; margin-right: 10px}
.exampannelNew{ float: left;
    margin-right: 5px;
    width: 24.3%;}
.exampannelNew1{ float: left;
    margin-right: 5px;
    width: 32.3%;}
.examname{ width: 100%; float: left;}
.marks{ width: 100%; float: left; background-color: #f1f1f1; font-size: 12px; font-family: Verdana; border:1px solid #dddddd; border-radius: 5px;  padding: 7px 5px 7px 10px; margin: 10px 10px 0px 0px; min-height: 33px;}
.persdetablog1{ padding: 0px 0 0 5px}
.learnerscore{ width: 95%; float: left;}
.markslearner{ width: 100%; float: left; background-color: #eee; font-size: 12px; font-family: Verdana; border:1px solid #848484; border-radius: 5px;  padding: 7px 5px 7px 10px; margin: 10px 10px 0px 0px; min-height: 33px;}
.learnerexampannel{ width: 32%; float: left; margin-right: 10px}
/*===================================== Media Queries ===================================*/

@media only screen and (max-width:1024px) and (min-width:769px){
.profilebox{ padding: 10px 2px;}
.persdeta span{ width: 40%;}
.exampannel {width: 45.7%; margin-top: 10px}
}
@media only screen and (max-width:768px) and (min-width:640px){
.profilebox{ padding: 10px 2px;}
.persdeta span{ width: 48%;}
.bdrblue{ width: 100%;}
.personalblog{ width: 95%; margin-left: 15px;}
.exampannel {width: 45.7%; margin-top: 10px}
}
@media only screen and (max-width:639px) and (min-width:480px){
.personalblog {float: left;width: 100%;}
.persdeta span{ width: 60%;}
.persdetacont{ width: 100%; margin-bottom: 10px;}
.profilebox{ padding: 10px 2px;}
.persdeta span{ width: 65%;}
.bdrblue {border: 1px solid #428bca; float: left;margin-left: 15px;padding-bottom: 20px; width: 94%;}
 .exampannel {width: 45.7%; margin-top: 10px}   
    }
@media all and (max-width: 360px) and (min-width: 320px) {
.personalblog{ width: 96%;} 
.persdeta{ width: 100%;}
.persdeta span{ width: 100%}
.persdetacont{ width: 100%; margin-bottom: 10px;}
.proheading { text-align: center;}
.exampannel {width: 45.7%; margin-top: 10px}
}

