.navbar-default{
color: #fff;
background-color: #ccc6c6;
border-color: #aca1a2;
}

.navbar-default .navbar-nav > li > a{
	color:#fff !important;
}
.dropdown-header {
    font-size: 15px;
    padding: 10px;
}
.col-sm-3 {
   
    width: 25%;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
    background-color: #0066ff;
    color: #555;
}
.dropdown-header {
    background-color: #0066ff !important;
}
.navbar.navbar-default.navbar-static-top {
    background: rgba(51, 153, 255, 0.97) none repeat scroll 0 0 ; 
}

.navbar-default .navbar-nav > .dropdown > a .caret{
	border-top-color: #fff;
    border-bottom-color: #fff;
}
.navbar-default .navbar-brand{
	color:#fff;
}
.menu-large {
  position: static !important;
}
.megamenu{
  padding: 20px 0px;
  width:100%;
}
.megamenu> li > ul {
  padding: 0;
  margin: 0;
}
.megamenu> li > ul > li {
  list-style: none;
}
.megamenu> li > ul > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.428571429;
  color: #333333;
  white-space: normal;
}
.megamenu> li ul > li > a:hover,
.megamenu> li ul > li > a:focus {
  text-decoration: none;
  color: #fff;
  background-color: #56BAEC;
}
.megamenu.disabled > a,
.megamenu.disabled > a:hover,
.megamenu.disabled > a:focus {
  color: #999999;
}
.megamenu.disabled > a:hover,
.megamenu.disabled > a:focus {
  text-decoration: none;
  background-color: transparent;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  cursor: not-allowed;
}
.megamenu.dropdown-header {
  color: #428bca;
  font-size: 18px;
}




@media (max-width: 768px) {
  .megamenu{
    margin-left: 0 ;
    margin-right: 0 ;
  }
  .megamenu> li {
    margin-bottom: 30px;
  }
  .megamenu> li:last-child {
    margin-bottom: 0;
  }
  .megamenu.dropdown-header {
    padding: 3px 15px !important;

  }
  .navbar-nav .open .dropdown-menu .dropdown-header{
	color:#fff;
  }
}


#for_pdf{
    background-image: url("/images/RKCL.png");
    background-repeat: no-repeat;
    background-position: center;
}



@media screen and (min-width: 360px) and (max-width: 640px){
    .btn.btn-danger.btn-lg
	{
		margin:5px;
		width:100%;
	}
	.btn.btn-warning.btn-lg
	{
		margin:5px;
		width:100%;
		
	}
	.btn.btn-primary.btn-lg
	{
		margin:5px;
		width:100%;
	}
	.btn.btn-primary.btn-lg
	{
		margin:5px;
		width:100%;
		
	}
	.btn.btn-success.btn-lg
	{
		margin:5px;
		width:100%;
		
	}
	.btn.btn-info.btn-lg
	{
		margin:5px;
		width:100%;
	}
	.btn.btn-info.btn-lg
	{
		margin:5px;
		width:100%;
	}

	img
	{
		margin-left:80px;
	}
	.col-sm-3
	{
		width:300px;
	}
	.col-md-12.col-md-12 > div
	{
		font-size:20px !important;
	}
	.watch
	{
		font-size:10px !important;
	}
	body {
               overflow:scroll !important;
                height:100% !important;
            }
		/* Changes 23-07-2017 */
    
			/*.col-sm-3
			{
				margin-left:35px;
				text-align:center;
			}*/
			/*.col-sm-3:hover
			{
				background-color:#0066ff !important;
				
			}*/
			
			.megamenu > li
			{
				margin-bottom:0px !important;
			}
			/*.col-sm-3 a {
    color: #fff !important;
}*/
		
.dropdown-menu.megamenu.row
{
	margin-top:0px !important;
}

}

@media screen and (min-width: 320px) and (max-width: 359px){
.btn.btn-danger.btn-lg {
    margin: 5px;} 
    .btn.btn-info.btn-lg {
    margin: 5px 0px;
}
    
}
/* Changes 23-07-2017 */

/*--------- Manage RKCL CSS Start --------*/

.managebox{ width: 100%; float: left;}

.boxone{ width: 24%; float: left;background-color: #004a88; text-align: center; padding: 15px 0px; margin:0px 0px 15px 0px;}
.boxone p{ font-size: 15px; text-transform: uppercase; color: #fff; padding: 15px 0px 0px 0px; margin: 0px; letter-spacing: 1px;}
.boxone:hover{background-color: #2b3c51!important;}


.boxtwo{ width: 24%; float: left;background-color: #0066ff; text-align: center; padding: 15px 0px; margin:0px 0px 15px 0px;}
.boxtwo p{ font-size: 15px; text-transform: uppercase; color: #fff; padding: 15px 0px 0px 0px; margin: 0px; letter-spacing: 1px;}
.boxtwo:hover{background-color: #2b3c51!important;}

.boxthree{ width: 24%; float: left;background-color: #399cff; text-align: center; padding: 15px 0px; margin:0px 0px 15px 0px;}
.boxthree p{ font-size: 15px; text-transform: uppercase; color: #fff; padding: 15px 0px 0px 0px; margin: 0px; letter-spacing: 1px;}
.boxthree:hover{background-color: #2b3c51!important;}

.boxfour{ width: 24%; float: left;background-color: #7abafa; text-align: center; padding: 15px 0px;margin:0px 0px 15px 0px;}
.boxfour p{ font-size: 15px; text-transform: uppercase; color: #fff; padding: 15px 0px 0px 0px; margin: 0px; letter-spacing: 1px;}
.boxfour:hover{background-color: #2b3c51!important;}
.boxfourlast{ margin-right: 0px;}

/*** CSS FOR MODALS ***/
.modal-header, .close{
	background-color: #428BCA;
	color:white !important;
	text-align: center;
	border-radius: 4px 4px 0 0;
}

.modal-body >p{
	text-align: center;
}

.modal-header.modal-error{
	background-color: #DD4B39;
	border-radius: 4px 4px 0 0;
}

.modal-header.modal-success{
	background-color: #00A65A;
	border-radius: 4px 4px 0 0;
}

.modal-sm {
	width: 300px !important;
}

.modal-footer {
	padding: 10px 20px 10px;
	margin-top: 0px;
	text-align: right;
	border-top: 1px solid #e5e5e5;
}
/*** CSS FOR MODALS ENDS HERE ***/
ul.dropdown-menu > li.col-sm-3:nth-child(4n+1) {
	clear: both;
} 

/*--------- New Add CSS 30-01-2019 --------*/

 .megamenuscroll {background-color: #FFFF !important;
    overflow-y: scroll;
    height: 430px;
}