body { background-color: #fff; font-size: 16px; font-weight: 300; margin: 0; color: #666; }
@font-face {
font-family: 'Devlys';
src: url('../fonts/Devlys.ttf') format('truetype')}
.KrutiDev_hindi_text {font-family: Devlys !important;font-size: 18px;}
.mainblog{width:100%; margin:0 auto}
.header{ width: 100%; float: left; }
.cont{ font-size: 27px; line-height: 40px; color: #db261d; text-align: center; font-weight: bold; padding: 14% 0%;}

.imporlink{width: 21%; margin-left: 15px; background-color: #f7fb69; font-family: Devlys !important;font-size: 20px; line-height: 20px;  min-height: 240px;}
.imporlink h2{ font-family: Devlys !important; font-size: 28px; color: #000; font-weight: bold; margin: 0px; padding: 10px 0px;}
.imporlink p{ width: 90%; float: left; padding:0px 0px 0px 8px;}
.imporlink p:hover{ text-decoration: underline;}
.imporlink span{ width: 10%; float: left;}
.imporlink ul{ margin: 0px; padding: 0px;}
.imporlink li{ list-style: none; text-decoration: none;}
.imporlink li a{text-decoration: none; color: #2c2c2c}
.imporlink li a:hover{text-decoration: none; color: #000; }
.hindidt {font-family: Helvetica, Arial, sans-serif !important; font-size: 18px;}
.rightlink{width: 19%; margin-right: 0px; float: right; padding: 15px 0px 15px 15px;}
.footer{ width: 100%; float: left; text-align: center; font-family: Devlys;font-size: 28px; color: #000; font-weight: bold;}
.marginLR{ margin: 0px 70px 0px 20px;}
.marginL50{ margin-left: 50px;}
.panel-heading,
.btn-primary,
.btn-success{
		background-color: #f45d14 !important; border: #f45d14 !important; color:#fff !important;
}
.panel-primary{
	border: 1px solid #f45d14 !important;	
}






