    .learner_nearcenter .error {
        color: #D95C5C!important;
    }
	.learner_nearcenter #marker_count {
		font-size: 14px;
		font-weight: bold;
		margin: auto;
		text-align: right;
		text-transform: uppercase;
		width: 90%;
	}

.learner_nearcenter h1.heading{padding:0px;margin: 0px 0px 10px 0px;text-align:center;font: 18px Georgia, "Times New Roman", Times, serif;}

/* width and height of google map */

.learner_nearcenter #google_map {
    border: 1px solid #ddd;
    border-radius: 5px;
    height: 500px;
    padding-bottom: 20px;
    width: 95%;
}

/* Marker Edit form */
.learner_nearcenter .marker-edit label{display:block;margin-bottom: 5px;}
.learner_nearcenter .marker-edit label span {width: 100px;float: left;}
.learner_nearcenter .marker-edit label input, 
.learner_nearcenter .marker-edit label select{height: 24px;}
.learner_nearcenter .marker-edit label textarea{height: 60px;}
.learner_nearcenter .marker-edit label input, 
.learner_nearcenter .marker-edit label select, 
.learner_nearcenter .marker-edit label textarea {width: 60%;margin:0px;padding-left: 5px;border: 1px solid #DDD;border-radius: 3px;}

/* Marker Info Window 
.learner_nearcenter h1.marker-heading{color: #585858;margin: 0px;padding: 0px;font: 18px "Trebuchet MS", Arial;border-bottom: 1px dotted #D8D8D8;}*/
.learner_nearcenter h1.marker-heading{
   font-family: 'Open Sans Condensed', sans-serif;
   font-size: 16px;
   font-weight: 400;
   padding: 10px;
   background-color: #48b5e9;
   color: white;
   margin: 1px;
   border-radius: 2px 2px 0 0; /* In accordance with the rounding of the default infowindow corners. */
}
/*div.marker-info-win {max-width: 300px;margin-right: -20px;} */
.learner_nearcenter div.marker-info-win {
   width: 150px !important;
   top: 0 !important;
   left: 0 !important;
   border-radius: 2px 2px 0 0;
}
.learner_nearcenter div.marker-info-win p{padding: 0px;margin: 10px 0px 10px 0;}
.learner_nearcenter button.save-marker, .learner_nearcenter button.remove-marker{
	background: #000 none repeat scroll 0 0;
    border: medium none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    float: right;
    padding: 4px 12px;
    margin-right: 10px;
}
.learner_nearcenter .adp-legal {
    display: none;
}
.learner_nearcenter .right-panel .adp {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}
.learner_nearcenter .right-panel .adp-placemark {
    border-left: 0 none;
    border-right: 0 none;
	margin-bottom: 0;
} 
.learner_nearcenter .right-panel .adp-placemark td {
    padding: 6px 10px;
}
.learner_nearcenter .right-panel .adp-summary {
    padding: 0 10px 5px;
}
.learner_nearcenter .container .container {
    max-width: 1170px;
    width: 100%;
}
.learner_nearcenter .container .container h2 {
    font-size: 24px;
}
body .learner_nearcenter .panel-primary {
    border-color: #019de2;
}

body .header-search .header-limiter {
    margin: 0 auto;
    max-width: 1170px;
    text-align: left;
}
body .header-search .header-limiter a {
    margin-left: 5px;
}
#marker_count > table {
    border: 1px solid #ddd;
    width: 100%;
}
#marker_count tr {
    border-bottom: 1px solid #ddd;
}
#marker_count th, #marker_count td {
    padding: 4px 10px;
    text-align: left;
}
#marker_count h3 {
    font-size: 16px;
    font-weight: bold;
    text-align: left;
}
.indicates{
	color: #019de2;
    font-size: 12px;
    font-weight: bold;
    margin-top: 10px;
    text-transform: uppercase;
}
.indicates img{
	width: 20px;
}
select {
    text-transform: capitalize;
}
/* Error */

.learner_nearcenter .error {color: #D95C5C!important;}
}
 .learner_nearcenter #errorBox{
	color:#F00;
}
.container.map-direction {
    width: 100%;
}