
		/*YOUR DREAM*/
/* common and top level styles */
.menu-main-div{ width:100%; height:auto; float:left;}
.menu-main-sub-div{ width:80%; height:auto;/* float:left;*/ margin:auto;}
#nav span {display: none;}
#nav, #nav ul {list-style: none outside none; margin: 0; padding: 0;}
#nav {width: 100%; float: right; position: relative; margin:8px 0px 0px 0px;}
#nav ul.subs {background-color: #FFFFFF; box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2); color: #333333; display: none; left: 0; position: absolute; border:1px solid #bdbdbd; border-top:3px solid #00bef2; z-index:9; width: 100%; /*display:block;*/}

#nav > li {float: left; text-align: left;
    -moz-transition: all 300ms ease-in-out 0s;
    -ms-transition: all 300ms ease-in-out 0s;
    -o-transition: all 300ms ease-in-out 0s;
    -webkit-transition: all 300ms ease-in-out 0s;
    transition: all 300ms ease-in-out 0s;}
#nav li a {display: block; text-decoration: none;
    -moz-transition: color 450ms ease-in-out 0s, background-color 450ms ease-in-out 0s;
    -ms-transition: color 450ms ease-in-out 0s, background-color 450ms ease-in-out 0s;
    -o-transition: color 450ms ease-in-out 0s, background-color 450ms ease-in-out 0s;
    -webkit-transition: color 450ms ease-in-out 0s, background-color 450ms ease-in-out 0s;
    transition: color 450ms ease-in-out 0s, background-color 450ms ease-in-out 0s;
    white-space: normal;}
#nav > li > a {font-size:12px; color: #000; display: block; padding: 8px 20px; text-transform: uppercase;}
#nav > li:hover > a, #nav > a:hover {background-color: #00bef2; color: #fff; padding:8px 20px;}


/* submenu */
#nav li:hover ul.subs {display: block;}
#nav ul.subs > li {display: inline-block; float: none; padding: 10px 1%; vertical-align: top; width: 98%;}
#nav ul.subs > li a {color: #242424; padding:5px 0px;}
#nav ul.subs > li ul li a {color: #666; padding:5px 0px;}
#nav ul li ul li a:hover {color: #00bef2;}
#nav ul.subs > li > a {margin-bottom: 10px; font-size: 16px;}
/*#nav ul.subs > li li {float: none;}*/	





#link2{left:92px;}

/*.travel_themes_left_list{ width:49%; height:auto; float:left; margin:0px 0px 0px 0px;}
.travel_themes_left_list ul{ width:100%; height:auto; float:left; margin:0px 0px 0px 0px; padding:0px;}
.travel_themes_left_list ul li{ width:48%; height:auto; float:left; margin:0px 0px 10px 4%; padding:0px; list-style:none;}
.travel_themes_left_list ul li:first-child{ width:100%; height:auto; float:left; margin:0px 0px 15px 0px; padding:0px; font-size:16px; text-align:center;}
.travel_themes_left_list ul li:nth-child(2){margin-left:0px;}
.travel_themes_left_list ul li:nth-child(4){margin-left:0px;}
.travel_themes_left_list_img_main_div{ width:100%; height:auto; float:left; margin:0px 0px 0px 0px; padding:0px; background-color:#e5e5e5;}
.travel_themes_left_list_img_div{ width:90%; height:auto; float:left; margin:5% 5%; padding:0px;}
.travel_themes_left_list_img_div img{ width:100%; height:auto; float:left;}
.travel_themes_left_list_text_div{ width:100%; height:auto; float:left; margin:0px 0px 10px 0px; padding:0px; font-size:14px; color:#696969; text-align:center; text-transform:uppercase;}*/

#menu_main_list{ width:100%; height:auto; float:left; margin:0px 0px 0px 0px;}
#menu_main_list ul{ width:23%; height:auto; float:left; margin:2% 0px 2% 2% !important ; padding:0px;}
#menu_main_list ul li{ width:100%; height:auto; float:left; margin:0px 0px 0px 0px; padding:0px; /*list-style:disc;*/ color: #666;}
#menu_main_list ul li a {color: #666; padding:8px 0px !important ;}
#menu_main_list ul li:first-child{ width:100%; height:auto; float:left; margin:0px 0px 15px 0px; padding:0px; font-size:16px; /*color:#ffd525;*/ text-align:left; list-style:none; color:#333333}

