.help-inline-error {
    color: red;
}

.col-sm-3:hover
{
	background-color:#F1EFE2 !important;
}


.footer-distributed{
	background-color: #0c96c0;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
    
	padding: 15px 50px 0px 64px;
	margin-top: 0px;
	
	
}
.white
{
	color:#fff;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	/*vertical-align: top;*/
}

/* Footer left */

.footer-distributed .footer-left{
	width: 35%;
}

/* The company logo */

.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Cookie', cursive;
	margin: 0;
}

.footer-distributed h3 span{
	color:  #5383d3;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #ffffff;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 43%;
}

.footer-distributed .footer-center i {
    background-color: #33383b;
    border-radius: 50%;
    color: #ffffff;
    font-size: 25px;
    height: 20px;
    line-height: 42px;
    text-align: center;
    vertical-align: middle;
    width: 30px;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  #5383d3;
	text-decoration: none;;
}


/* Footer Right */

.footer-distributed .footer-right{
	width: 20%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons {
    margin-top: 7px;
}
.footer-distributed .footer-icons a {
    background-color: #33383b;
    border-radius: 2px;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-size: 20px;
    height: 30px;
    line-height: 35px;
    margin-bottom: 5px;
    margin-right: 3px;
    text-align: center;
    width: 30px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

	.footer-distributed{
		font: bold 14px sans-serif;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}

}

.well.well-sm {
    margin-top: 35px;
}
.star{
	color:red !important;
}

.demo1 {
    height: 190px !important;
}

.fa-book{
    color:#0099CC !important;
    font-size: 20px;
	padding:10px !important;
}
.fa-location-arrow {
    color: 	#92CD00;
    font-size: 20px !important;
	padding:10px !important;
}

.fa-hospital-o {
    color: #66CCFF !important;
    font-size: 20px !important;
	padding:10px !important;
}
.fa-futbol-o {
    color:  #003399;
    font-size: 20px !important;
	padding:10px !important;
}


.footertext{text-align: justify; color:#fff; font-size:15px; font-weight: normal;}
.learnerlogin{ background-color: #cdcdcd!important; box-shadow: 1px 1px 10px 2px #ababab!important}
.newsblog{ background-color: #d70012;
    color: #fff;
    float: left;
    font-size: 18px;
    margin-bottom: 20px;
    padding: 5px 10px 0;
    width: 100%;}
.newsblog span{ width: 16%; float: left; height: 36px; background-color: #d70012; padding: 8px 8px 7px 30px; font-size: 16px; font-weight: bold;}
.newsblog p{width: 84%; float: left; background-color: #d70012; padding: 4px 8px 4px 6px; font-size: 16px;}

@media all and (max-width: 360px) and (min-width: 320px) {
.newsblog span{ width: 44%; float: left; padding: 8px 8px 7px 10px; font-size: 14px; height: 36px; }
.newsblog p{width: 55%; font-size: 14px;}
.toplablel{ width: 33%!important;}
.homecontrol{ width: 65%!important;}

}

@media only screen and (max-width:1024px) and (min-width:999px){
 .toplablel{ width: 33%!important;}
.homecontrol{ width: 50%!important;}   
}

@media only screen and (max-width:768px) and (min-width:640px){
.newsblog span{ width: 38%; float: left; }
.newsblog p{ width: 62%; float: left; }  
 .toplablel{ width: 33%!important;}
.homecontrol{ width: 65%!important;}   
}
    
@media only screen and (max-width:639px) and (min-width:480px){
.newsblog span{ width: 50%; float: left; }
.newsblog p{ width: 50%; float: left; }
.toplablel{ width: 33%!important;}
.homecontrol{ width: 65%!important;}
}

#footer{background-color:#0c96c0; margin-bottom:0px;}
.footer-limiter{max-width:1200px; margin: 0 auto;}
.newsblog_limiter{max-width:1200px; margin: 0 auto;}
.newscont{width: 83%; display:inline-block; font-size:14px; padding: 5px;}