.header-search{
	background-color: #0c96c0;
	box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.15);
	padding: 10px 40px;
/*	height: 100px;*/
	color: #ffffff;
	box-sizing: border-box;
}
.btn-success {
    background-color: #019de2 !important;
    border-color: #4cae4c;
    color: #fff;
}
.panel-footer {
    display: none !important;
}
.header-search .header-limiter {
	max-width: 1200px;
	/*text-align: center;*/
	margin: 0 auto;
}

/* Logo */

.header-search .header-limiter h1 {
	float: left;
	font: normal 28px Cookie, Arial, Helvetica, sans-serif;
	line-height: 40px;
	margin: 0;
}
/* Changes 23-07-2017 */

.header-search .header-limiter h1 span {
	color: #5383d3;
}

/* The header links */

.header-search .header-limiter a {
	color: #000000;
	text-decoration: none;
}

.header-search .header-limiter nav {
	font:16px Arial, Helvetica, sans-serif;
	line-height: 40px;
	float: left;
	margin: 0 0 0 60px;
	padding: 0;
}

.header-search .header-limiter nav a {
	display: inline-block;
	padding: 0 5px;
	text-decoration:none;
	color: #ffffff;
	font-size: 16px;
	font-weight: normal;
	opacity: 0.9;
}

.header-search .header-limiter nav a:hover {
	opacity: 1;
}

.header-search .header-limiter nav a.selected {
	color: #608bd2;
	pointer-events: none;
	opacity: 1;
}

/* The search box */

.header-search .header-limiter form {
	float:right;
	position: relative;
	right: 30px;
	margin-left: 40px;
	border-radius: 3px;
	background-color:  #3a3c3e;
	width: 44px;
	height: 39px;
	cursor: pointer;

	-ms-user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}

/* CSS search icon */

.header-search .header-limiter form:before {
	position: absolute;
	content: '';
	border-radius: 50%;
	border: 2px solid #fff;
	width: 9px;
	height: 9px;
	top: 12px;
	left: 14px;
}

.header-search .header-limiter form:after {
	position: absolute;
	content: '';
	background-color: #fff;
	width: 2px;
	height: 8px;
	top: 22px;
	left: 26px;
	-webkit-transform: rotate(-44deg);
	-moz-transform: rotate(-44deg);
	transform: rotate(-44deg);
}

/* The search box */

.header-search .header-limiter form input {
	/*display: none;*/
	position: absolute;
	right: 42px;
	padding: 11px 12px 9px;
	border: none;
	width: 210px;
	border-radius: 2px 0 0 2px;
	height: 39px;
	box-sizing: border-box;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
.footer-icons > a:hover
{
	background-color:#3399FF  !important;
}

.fa {
    display: inline-block;
    font: 20px/1 FontAwesome !important;
    text-rendering: auto;
}
/* Making the header responsive. */

@media all and (max-width: 600px) {

	.header-search {
		padding: 15px;
		position: relative;
	}

.header-search .header-limiter h1 {
		float:left;
		font-size: 24px;
		line-height: 1;
	}
/* Changes 23-07-2017 */

	.header-search .header-limiter nav {
		text-align: center;
		float: none;
		margin: 0;
	}

	.header-search .header-limiter nav a {
		font-size: 13px;
	}

	.header-search .header-limiter form {
		position: absolute;
		top: 20px;
		right: 20px;
	}
	.header-user-menu {
    float: right !important;
	margin-bottom: 55px !important;
}
	

}


@media all and (max-width: 360px) {


.header-user-menu {
    float: right !important;
}

}







.input-group.add-on {
    margin-top: 23px;
}

.header-user-menu {
    margin-top: 35px;
}


 .header-user-menu{
	position: relative;
	float:right;
	background-color:#019de2;
	width:85px;
	height:45px;
	border-radius:2px;
}

 .header-user-menu:before{
	
	width:0;
	height:0;
	top: 18px;
	left: 5px;
	position:absolute;
	border:5px solid transparent;
	border-top-color:#fff;
}
.header-user-menu {
    width: 50px ;
}
.header-user-menu li {
    border-bottom: 1px solid #eee;
    line-height: 1.5;
}
.header-user-menu ul {
    background-color: #fff !important;
    border-radius: 2px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    display: none;
    font: bold 13px Arial,Helvetica,sans-serif;
    list-style: outside none none;
    padding: 10px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 35px;
    width: 160px;
    z-index: 10000 !important;
}

 .header-user-menu:active ul,
 .header-user-menu:hover ul,
.header-user-menu.show ul{
	display:block;
}

.header-user-dropdown .header-user-menu ul li{
	padding:5px;
}

 .header-user-menu ul li a:hover{
	opacity:0.9;
}
 .header-user-menu ul li a.highlight{
	color:#e9ac09;
}

.header-user-menu img{
	border-radius:50%;
	position:absolute;
	top:6px;
	max-width: 28px;
	right:10px;
}
.panel-footer {
    display: none !important;
}











