<link href="css/admin.css" rel="Stylesheet" type="text/css" />

<script src="scripts/jquery-1.7.1.min.js" type="text/javascript"></script>
 <script src="scripts/jquery-ui-custom.min.js"></script>
<script src="scripts/jquery.dropdownPlain.js" type="text/javascript"></script>
<div class="header">
            <div class="header_left">
                <img src="images/logo.png"></div>
            <div class="header_right">
            </div>
            <div class="clr">
            </div>
        </div>