@charset "utf-8";
/* CSS Document */


@font-face {
  font-family: 'RobotoCondensed';
  src: url('../font/RobotoCondensed-Regular.eot?v=3.2.1');
  src: url('../font/RobotoCondensed-Regular.eot?#iefix&v=3.2.1') format('embedded-opentype'), url('../font/RobotoCondensed-Regular.woff?v=3.2.1') format('woff'), url('../font/RobotoCondensed-Regular.ttf?v=3.2.1') format('truetype'), url('../font/RobotoCondensed-Regular.svg#RobotoCondensed-Regular?v=3.2.1') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'FontAwesome';
  src: url('../font/fontawesome-webfont.eot?v=3.2.1');
  src: url('../font/fontawesome-webfont.eot?#iefix&v=3.2.1') format('embedded-opentype'), url('../font/fontawesome-webfont.woff?v=3.2.1') format('woff'), url('../font/fontawesome-webfont.ttf?v=3.2.1') format('truetype'), url('../font/fontawesome-webfont.svg#fontawesomeregular?v=3.2.1') format('svg');
  font-weight: normal;
  font-style: normal;
}





body{ margin:0px; padding:0px;  font-family:RobotoCondensed; font-size: 12px; color:#787878; text-align:justify; line-height:150%; background-color:#fff;}
h1{ margin:0px; padding:0px; font-family:RobotoCondensed; font-size:25px; color:#4e4e4e; text-align:left; text-shadow:0px 0px 0px #828282; font-weight:bold; }
h2{ margin:0px; padding:0px; font-family:RobotoCondensed; font-size:18px; color:#4e4e4e; text-align:left; text-shadow:0px 0px 0px #828282; font-weight:bold; }
h3{ margin:0px; padding:0px; font-family:RobotoCondensed; font-size:16px; color:#4e4e4e; text-align:left; text-shadow:0px 0px 0px #4e4e4e; font-weight:bold; }
h4{ margin:0px; padding:0px; font-family:RobotoCondensed; font-size:16px; color:#4e4e4e; text-align:left; text-shadow:0px 0px 0px #4e4e4e; font-weight:normal; }
p{ margin:0px 0px 0px 0px; padding:0px 0px; font-family:RobotoCondensed; font-size:12px; color:#6d6d6d; text-align: justify;}
.title{ background-color:#0F0; color:#fff;}
/*other pages heading*/
h6{ margin:0px; padding:0px; font-family:RobotoCondensed; font-size:25px; color:#ff9f1a; text-align:left; text-shadow:0px 0px 0px #ff9f1a; font-weight:normal; }
h7{ margin:0px; padding:0px; font-family:RobotoCondensed; font-size:22px; color:#787878; text-align:left; text-shadow:0px 0px 0px #ff9f1a; font-weight:normal; }
a{text-decoration: none; color: #ffffff;}
.float-left{ float:left;}
.float-right{ float:right;}


.top_main_div{ width:100%; height:auto; float:left; background-color:#00bef2; border-bottom:1px solid #00a2ce;}
.top_sub_main_div{ width:80%; height:auto; margin:auto;/* border:1px solid red;*/}
.top_left_right_div{ width:50%; height:auto; float:left; margin:0px;}


/*SOCIAL ICON START*/

.fa {
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
}

.fa-facebook:before{content:"\f09a"}
.fa-twitter:before{content:"\f099"}
.fa-linkedin:before{content:"\f0e1"}
.fa-google-plus-square:before{content:"\f0d4"}
.fa-skype:before{content:"\f17e"}
.fa-envelope:before{content:"\f0e0"}
.fa-envelope-o:before {content:"\f003"}
.fa-envelope:before {content:"\f0e0"}
.fa-phone:before{content:"\f095"}
.fa-in-store-activation:before{content:"\f02b"}
.fa-in-store-research:before{content:"\f085"}
.fa-marketing-logisitcs:before{content:"\f0e8"}
.fa-angle-double-right {content:"\f101"}
.fa-pdf {content:"\f1c1"}
.fa-group:before {content:"\f0c0"}
.fa-thumbs-o-up:before {content:"\f087"}
.fa-flask:before {content:"\f0c3"}
.fa-flag:before {content:"\f024"}
.fa-pencil:before {content:"\f040"}
.fa-certificate:before {content:"\f0a3"}
.fa-globe:before {content:"\f0ac"}
.fa-cog:before {content:"\f013"}
.fa-laptop:before {content:"\f109"}
.fa-chevron-right:before {content:"\f054"}
.fa-bar-chart:before {content:"\f080"}
.fa-cogs:before {content:"\f085"}
.fa-pencil-square-o:before {content:"\f044"}
.fa-user:before {content:"\f007"}
.fa-wrench:before {content:"\f0ad"}
.fa-check-square-o:before {content:"\f046"}
.fa-sitemap:before {content:"\f0e8"}
.fa-users:before {content:"\f0c0"}
.fa-signal:before {content:"\f012"}
.fa-gear:before {content:"\f013"}
.fa-child:before {content:"\f1ae"}
.fa-cubes:before {content:"\f1b3"}
.fa-angle-up:before {content:"\f106"}
.fa-line-chart:before {content:"\f201"}
.fa-mobile-phone:before {content:"\f10b"}
.fa-paint-brush:before {content:"\f1fc"}
.fa-lock:before {content:"\f023"}
.fa-search:before {content:"\f002"}
.fa-headphones:before {content:"\f025"}
.fa-database:before {content:"\f1c0"}
.fa-shopping-cart:before {content:"\f07a"}




.socialBg1{ width:auto; height:auto; float:right; margin:0px 0px 0px 0px;color:#fff;}
.socialBg1 ul {width:100%; height:auto; float:left; display: block; margin:0px; padding:0px;}
.socialBg1 ul li{width:auto; float:left; display: inline; padding:0px 0px; border-right:1px solid #fff; text-align:center;}
.socialBg1 ul li a{display: inline-block; height:auto; padding:7px 12px; font-size:16px;  color: #fff; text-decoration:none; list-style:none;
transition: all 0.3s ease-in-out;
-webkit-transition: all 0.3s ease-in-out;
-moz-transition: all 0.3s ease-in-out;}
.socialBg1 ul li a:hover{color:#fff; background-color:#0089ae;}
.socialBg1 ul li:first-child { border-left:1px solid #fff;}


/*.facebook{width:10%; display: inline-block; padding:6px 8px; border-right:1px solid #e1e1e1; text-align:center;}
.facebook:hover{ background-color:#4973cd;}*/



.contact_detail{ width:100%; height:auto; float:left; margin:0px 0px 0px 0px;}
.contact_detail ul {width:100%; height:auto; float:left; display: block; margin:0px; padding:0px;}
.contact_detail ul li{display: inline-block; padding:6px 8px; font-size:12px; color:#fff;}
/*.contact_detail ul li a{display: inline-block; height:auto; font-size:16px; color: #848a96; text-decoration:none; list-style:none;
transition: all 0.3s ease-in-out;
-webkit-transition: all 0.3s ease-in-out;
-moz-transition: all 0.3s ease-in-out;}
.contact_detail ul li a:hover{color:#cddb24;}*/
.contact_detail ul li:first-child { padding-left:0px;}

.contact_detail_text{color:#fff; font-family:RobotoCondensed; margin:0px 0px 0px 5px; text-decoration:none;
transition: all 0.3s ease-in-out;
-webkit-transition: all 0.3s ease-in-out;
-moz-transition: all 0.3s ease-in-out;}
/*.contact_detail_text:hover{color:#0089ae; text-decoration: underline;}*/


/*Header Start*/

.header_main_div{ width:100%; height:auto; float:left;}
.header_sub_main_div{ width:80%; height:auto; margin:auto;}
.logo_div{ width:15%; height:auto; float:left; margin:1% 0%;}
.logo_div img{ width:100%; height:auto; float:left;}
.banner_main_div{ width:100%; height:400px; float:left; background-image: url(../images/banner-bg.jpg); background-repeat:no-repeat; background-size:cover;}
.banner_sub_main_div{ width:80%; height:auto; margin:auto;}

.header_right-menu{ width:auto; height:auto; float:right; margin:0% 0%;}
.header_right-menu ul {width:100%; height:auto; float:left; display: block; margin:0px; padding:0px;}
.header_right-menu ul li{width:auto; float:left; display: inline; padding:7px 12px; border-right:1px solid #fff; text-align:right;}
.header_right-menu ul li a{display: inline-block; height:auto; padding:0px 0px; font-size:14px;  color: #858891; text-decoration:none; list-style:none;
transition: all 0.3s ease-in-out;
-webkit-transition: all 0.3s ease-in-out;
-moz-transition: all 0.3s ease-in-out;}
/*.header_right-menu ul li a:hover{color:#fff; background-color:#0089ae;}
.header_right-menu ul li:first-child { border-left:1px solid #fff;}*/
.header_right-menu ul li span{ margin-right:5px;}

/*Body Start*/

.body_main_div{ width:100%; min-height: 500px; height:auto; float:left; background-color:#f7f7f7;}
.body_sub_main_div{ width:80%; height:auto; margin:auto;}

.bfb_main_div{ width:100%; height:auto; float:left;}
.bform_main_div{ width:40%; height:auto; margin:20px 0px;}
.bbanner_main_div{ width:58%; height:auto; margin:20px 0px 0px 2%;}

/*Sub Footer Start*/

.sub_footer_main_div{ width:100%; height:auto; float:left; margin:0px 0px 0px 0px; background-color:#1a1b1f;}
.sub_footer_sub_main_div{ width:80%; height:auto; margin:auto;}


.sub_footer_main_list { width:100%; height: auto; float: left; text-align: justify; margin:4% 0px 4% 0px;}
.sub_footer_main_list ul { width:100%; height:auto; float:left; list-style: outside none none; margin: 5px 0 0; padding-left: 0px;}
.sub_footer_main_list li { width:17.5%; height:auto; float:left; display: inline-block; list-style:none; padding: 0px 0 0px 0px; margin:0px 0px 0px 3%;}
.sub_footer_main_list li:first-child { margin-left:0px;}

.sub_footer_about_heading { width:100%; height: auto; float: left; text-align: justify; margin:0% 0% 0% 0%; font-size:16px; color:#fff;}
.sub_footer_links_main_div { width:100%; height: auto; float: left; text-align: justify; margin:7% 0% 0% 0%; font-size:12px; color:#929292;}
.sub_footer_links_main_div ul {width:100%; height:auto; float:left; display: block; margin:0px; padding:0px;}
.sub_footer_links_main_div ul li{width:100%; float:left; display:block; padding:1.5% 0%; margin:0%; text-align:left;}
.sub_footer_links_main_div ul li a{display: inline-block; height:auto; font-size:12px;  color: #929292; text-decoration:none; list-style:none;
transition: all 0.3s ease-in-out;
-webkit-transition: all 0.3s ease-in-out;
-moz-transition: all 0.3s ease-in-out;}
.sub_footer_links_main_div ul li a:hover{color:#00d33c;}

/*.sub_footer_about_text { width:100%; height: auto; float: left; text-align: justify; margin:7% 0% 0% 0%; font-size:12px; color:#929292;}
.sub_footer_about_btn {font-size:12px; color:#ffa018; text-decoration: underline;
transition: all 0.3s ease-in-out;
-webkit-transition: all 0.3s ease-in-out;
-moz-transition: all 0.3s ease-in-out;}
.sub_footer_about_btn:hover {font-size:12px; color:#0089bd; text-decoration:none;}
.sub_footer_latest_post_date_text {color:#696969;}
.sub_footer_latest_post_line { width:100%; height: 1px; float: left; margin:8% 0% 8% 0%; background-color:#3f3f3f;}

.sub_footer_get_in_touch_div { width:100%; height: auto; float: left; margin:7% 0% 0% 0%;}
.sub_footer_get_in_touch_div ul { width:100%; height:auto; float:left; list-style: outside none none; margin: 0px 0px 0px 0px; padding-left: 0px;}
.sub_footer_get_in_touch_div li { width:100%; height:auto; float:left; display:block; list-style:none; padding: 0px 0 0px 0px; margin:6% 0px 0px 0%; font-size:12px; color:#929292;}
.sub_footer_get_in_touch_div li:first-child { margin-top:0px;}
.sub_footer_get_in_touch_icon { width:10%; height:auto; float:left; padding: 0px 0 0px 0px; margin:0.8% 0px 0px 0%; font-size:14px; font-family: FontAwesome; color:#54595f;}
.sub_footer_get_in_touch_text { width:85%; height:auto; float:left; padding: 0px 0 0px 0px; margin:0% 0px 0px 0%; font-size:12px; color:#929292; text-align:left;}
.sub_footer_get_in_touch_email_text {color:#929292; text-decoration:underline;
transition: all 0.3s ease-in-out;
-webkit-transition: all 0.3s ease-in-out;
-moz-transition: all 0.3s ease-in-out;}
.sub_footer_get_in_touch_email_text:hover {color:#ffa018; text-decoration:none;}*/
/*.sub_footer_subscribe_main_div { width:100%; height:40px; float: left; margin:15% 0% 0% 0%; background-color:#0d0e12;}
.sub_footer_subscribe_text_box_div { width:80%; height:auto; float: left; margin:0% 0% 0% 0%;}
.sub_footer_subscribe_text_box { width:99%; height:40px; float: left; margin:0% 0% 0% 0%; padding:0px 0px 0px 10px; background-color:transparent; color:#929292; border:none; outline:0 none;}
.sub_footer_subscribe_btn_div { width:12%; height:28px; float: left; margin:0% 0% 0% 0%; padding:5% 0% 0% 8%; background-color:#32353c; font-size:20px; font-family: FontAwesome;}*/





/*Footer Start*/

.footer_main_div{ width:100%; height:auto; float:left; margin:0px 0px 0px 0px; background-color:#00bef2;}
.footer_sub_main_div{ width:80%; height:auto; margin:auto;}

.footer_left_text_div{ width:50%; height:auto; float:left; margin:5px 0px 5px 0px; color:#fff;}

.footer_companey_name_text_div{color:#fff; text-decoration:none;
transition: all 0.3s ease-in-out;
-webkit-transition: all 0.3s ease-in-out;
-moz-transition: all 0.3s ease-in-out;}
.footer_companey_name_text_div:hover{color:#000; text-decoration:underline;}
.footer_social_icon{ width:100%; height:auto; float:left; margin:0px 0px 0px 0px;}


.footer_social_icon ul {width:100%; height:auto; float:left; display: block; margin:0px; padding:0px;}
.footer_social_icon ul li{width:8%; float:right; display: inline-block; padding:0px 0px; text-align:center;}
.footer_social_icon ul li a{display: inline-block; height:auto; font-size:16px;  color: #fff; text-decoration:none; list-style:none;
transition: all 0.3s ease-in-out;
-webkit-transition: all 0.3s ease-in-out;
-moz-transition: all 0.3s ease-in-out;}
.footer_social_icon ul li a:hover{color:#000;}
/*.footer_social_icon ul li:first-child { border-left:1px solid #e1e1e1;}*/





/*====================================================Responsive Css Start======================================*/

@media (max-width: 980px)
{
	.top_sub_main_div{ width:98%; height:auto; float:left; margin:0px 1%;}	
	.header_sub_main_div{ width:98%; height:auto; float:left; margin:0px 1%;}
	.sub_footer_sub_main_div{ width:98%; height:auto; float:left; margin:0px 1%;}
	.footer_sub_main_div{ width:98%; height:auto; float:left; margin:0px 1%;}
}


@media (max-width: 765px)
{
	
}


@media (max-width: 500px)
{
	
	.sub_footer_main_list li { width:100%; margin:0px 0px 15px 0%;}
	/*.latest_work_catlog_btn_after a{ float:none; margin:auto}*/	
}


@media (max-width: 320px)
{
	
	
	
	
	
	
}

.contact_detail_footer{ width:100%; height:auto; float:left; margin:0px 0px 0px 0px;}
.contact_detail_footer ul {width:100%; height:auto; float:left; display: block; margin:0px; padding:0px;}
.contact_detail_footer ul li{display: inline-block; float: right; padding:6px 8px; font-size:12px; color:#fff;}
/*.contact_detail ul li a{display: inline-block; height:auto; font-size:16px; color: #848a96; text-decoration:none; list-style:none;
transition: all 0.3s ease-in-out;
-webkit-transition: all 0.3s ease-in-out;
-moz-transition: all 0.3s ease-in-out;}
.contact_detail ul li a:hover{color:#cddb24;}*/
.contact_detail_footer ul li:first-child { padding-left:0px;}

.contact_detail_footer_text{color:#fff; font-family:RobotoCondensed; margin:0px 0px 0px 5px; text-decoration:none;
transition: all 0.3s ease-in-out;
-webkit-transition: all 0.3s ease-in-out;
-moz-transition: all 0.3s ease-in-out;}




.btn {


    display: inline-block;

    width: auto;
    height: 25px;
    font-size: 10px;
    line-height: 25px;
    border: 1px solid #999;
    border-radius: 4px;
    cursor: pointer;


    -webkit-box-shadow: inset 0 1px 1px #fff,
        0 1px 2px rgba(0,0,0,0.31); /* Remove this line if you dont want a dropshadow on your buttons*/
    box-shadow: inset 0 1px 1px #fff,
        0 1px 2px rgba(0,0,0,0.31); /* Remove this line if you dont want a dropshadow on your buttons*/

    background: #ccc; /* Old browsers */
    background: -moz-linear-gradient(top, #eee 0%, #ccc 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eee), color-stop(100%,#ccc)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #eee 0%,#ccc 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #eee 0%,#ccc 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #eee 0%,#ccc 100%); /* IE10+ */
    background: linear-gradient(top, #eee 0%,#ccc 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */
}
.btn:hover {
    -webkit-box-shadow: inset 0 1px 1px #fff,
        0 1px 2px rgba(0,0,0,0.31); /* Remove this line if you dont want a dropshadow on your buttons*/
    box-shadow: inset 0 1px 1px #fff,
        0 1px 2px rgba(0,0,0,0.31); /* Remove this line if you dont want a dropshadow on your buttons*/

    background: #ccc; /* Old browsers */
    background: -moz-linear-gradient(top, #fff 0%, #ddd 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fff), color-stop(100%,#ddd)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #fff 0%,#ddd 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #fff 0%,#ddd 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #fff 0%,#ddd 100%); /* IE10+ */
    background: linear-gradient(top, #fff 0%,#ddd 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#dddddd',GradientType=0 ); /* IE6-9 */
}


.btn a, .btn:hover a {
    display: block;
    font-family: "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
    font-weight: bold;
    padding: 0 20px;
    text-align: center;
    text-decoration: none;
    color: #444;
    text-shadow: 0 1px 1px #fff;
}

.btn:hover a {
    line-height: inherit;
}

.btn:active {
    background: #ccc; /* Old browsers */
    background: -moz-linear-gradient(top, #ddd 0%, #fff 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ddd), color-stop(100%,#fff)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ddd 0%,#fff 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ddd 0%,#fff 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ddd 0%,#fff 100%); /* IE10+ */
    background: linear-gradient(top, #ddd 0%,#fff 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dddddd', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}

.btn.primary
{
    font-size: 15px;
    height: 30px;
    line-height: 56px;
    border: 1px solid #7d180a;
    background: #c54224; /* Old browsers */
    background: -moz-linear-gradient(top, #ef6638 0%, #b62918 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ef6638), color-stop(100%,#b62918)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ef6638 0%,#b62918 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ef6638 0%,#b62918 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ef6638 0%,#b62918 100%); /* IE10+ */
    background: linear-gradient(top, #ef6638 0%,#b62918 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ef6638', endColorstr='#b62918',GradientType=0 ); /* IE6-9 */
    -webkit-box-shadow: inset 0 1px 1px #fb926a, 0 1px 2px rgba(0,0,0,0.61); /* Remove this line if you dont want a dropshadow on your buttons*/
    box-shadow: inset 0 1px 1px #fb926a, 0 1px 2px rgba(0,0,0,0.61); /* Remove this line if you dont want a dropshadow on your buttons*/
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    color: #FFFFFF;
}

.btn.primary:hover {
    line-height: 56px;
    background: #ed754e; /* Old browsers */
    background: -moz-linear-gradient(top, #ed754e 0%, #c93e23 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ed754e), color-stop(100%,#c93e23)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ed754e 0%,#c93e23 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ed754e 0%,#c93e23 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ed754e 0%,#c93e23 100%); /* IE10+ */
    background: linear-gradient(top, #ed754e 0%,#c93e23 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ed754e', endColorstr='#c93e23',GradientType=0 ); /* IE6-9 */
}

.btn.primary a, btn.primary:hover a {
    color: #fff;
    text-shadow: 0 1px 2px #6f1c0e,
        0 1px 0 #6f1c0e;
}

.btn.primary:active {
    background: #ed754e; /* Old browsers */
    background: -moz-linear-gradient(top, #c93e23 0%, #ed754e 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c93e23), color-stop(100%,#ed754e)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #c93e23 0%,#ed754e 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #c93e23 0%,#ed754e 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #c93e23 0%,#ed754e 100%); /* IE10+ */
    background: linear-gradient(top, #c93e23 0%,#ed754e 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c93e23', endColorstr='#ed754e',GradientType=0 ); /* IE6-9 */
}

.btn.secondary { 
    font-size: 24px;
    height: 56px;
    line-height: 56px;
    border-color: #1d692d;

    -webkit-box-shadow: inset 0 1px 1px #94dda6,
        0 1px 2px rgba(0,0,0,0.61); /* Remove this line if you dont want a dropshadow on your buttons*/
    box-shadow: inset 0 1px 1px #94dda6,
        0 1px 2px rgba(0,0,0,0.61); /* Remove this line if you dont want a dropshadow on your buttons*/

    background: #5dbb73; /* Old browsers */
    background: -moz-linear-gradient(top, #5dbb73 0%, #2d9047 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5dbb73), color-stop(100%,#2d9047)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #5dbb73 0%,#2d9047 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #5dbb73 0%,#2d9047 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #5dbb73 0%,#2d9047 100%); /* IE10+ */
    background: linear-gradient(top, #5dbb73 0%,#2d9047 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5dbb73', endColorstr='#2d9047',GradientType=0 ); /* IE6-9 */
}

.btn.secondary:hover {
    background: #68ce80; /* Old browsers */
    background: -moz-linear-gradient(top, #68ce80 0%, #3cae5a 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#68ce80), color-stop(100%,#3cae5a)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #68ce80 0%,#3cae5a 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #68ce80 0%,#3cae5a 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #68ce80 0%,#3cae5a 100%); /* IE10+ */
    background: linear-gradient(top, #68ce80 0%,#3cae5a 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#68ce80', endColorstr='#3cae5a',GradientType=0 ); /* IE6-9 */
}

.btn.secondary a, .btn.secondary:hover a {
    color: #fff;
    text-shadow: 0 1px 2px #114a1e,
        0 1px 0 #114a1e;
}

.btn.secondary:active {
    background: #68ce80; /* Old browsers */
    background: -moz-linear-gradient(top, #3cae5a 0%, #68ce80 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3cae5a), color-stop(100%,#68ce80)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #3cae5a 0%,#68ce80 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #3cae5a 0%,#68ce80 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #3cae5a 0%,#68ce80 100%); /* IE10+ */
    background: linear-gradient(top, #3cae5a 0%,#68ce80 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3cae5a', endColorstr='#68ce80',GradientType=0 ); /* IE6-9 */
}

.btn.tertiary {
    font-size: 20px;
    height: 46px;
    line-height: 46px;
    border-color: #c19114;

    background: #feeeb8; /* Old browsers */
    background: -moz-linear-gradient(top, #feeeb8 0%, #fed554 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#feeeb8), color-stop(100%,#fed554)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #feeeb8 0%,#fed554 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #feeeb8 0%,#fed554 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #feeeb8 0%,#fed554 100%); /* IE10+ */
    background: linear-gradient(top, #feeeb8 0%,#fed554 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feeeb8', endColorstr='#fed554',GradientType=0 ); /* IE6-9 */

    -webkit-box-shadow: inset 0 2px 2px #fef9e9,
        inset 0 -3px 5px #fcaa20,
        0 1px 2px rgba(0,0,0,0.61); /* Remove this line if you dont want a dropshadow on your buttons*/
    box-shadow: inset 0 2px 2px #fef9e9,
        inset 0 -3px 5px #fcaa20,
        0 1px 2px rgba(0,0,0,0.61); /* Remove this line if you dont want a dropshadow on your buttons*/
}

.btn.tertiary:hover {
    background: #fef4d3; /* Old browsers */
    background: -moz-linear-gradient(top, #fef4d3 0%, #fcde7e 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fef4d3), color-stop(100%,#fcde7e)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #fef4d3 0%,#fcde7e 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #fef4d3 0%,#fcde7e 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #fef4d3 0%,#fcde7e 100%); /* IE10+ */
    background: linear-gradient(top, #fef4d3 0%,#fcde7e 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fef4d3', endColorstr='#fcde7e',GradientType=0 ); /* IE6-9 */

    -webkit-box-shadow: inset 0 2px 2px #fef9e9,
        inset 0 -3px 5px #fdc841,
        0 1px 2px rgba(0,0,0,0.61); /* Remove this line if you dont want a dropshadow on your buttons*/
    box-shadow: inset 0 2px 2px #fef9e9,
        inset 0 -3px 5px #fdc841,
        0 1px 2px rgba(0,0,0,0.61); /* Remove this line if you dont want a dropshadow on your buttons*/
}

.btn.tertiary a, .btn.tertiary:hover a {
    color: #6a4a00;
    text-shadow: 0 1px 2px #fff;
}

.btn.tertiary:active {
    background: #fef4d3; /* Old browsers */
    background: -moz-linear-gradient(top, #fcde7e 0%, #fef4d3 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcde7e), color-stop(100%,#fef4d3)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #fcde7e 0%,#fef4d3 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #fcde7e 0%,#fef4d3 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #fcde7e 0%,#fef4d3 100%); /* IE10+ */
    background: linear-gradient(top, #fcde7e 0%,#fef4d3 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcde7e', endColorstr='#fef4d3',GradientType=0 ); /* IE6-9 */
}

.oval { 
    -moz-border-radius: 1000px;
    -webkit-border-radius: 1000px;
    border-radius: 1000px;
}

.btn.submit input {
    font: 13px "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
    font-weight: bold;
    padding: 0px 20px;
    text-align: center;
    text-decoration: none;
    background: transparent;
    color: #444;
    text-shadow: 0 1px 1px #fff;
    border: none;
    margin: 0 !important;
    cursor: pointer;
    line-height:26px;
}

.btn.submit {
    text-align: center;
}

.btn.left { 
    text-align: left; 
    text-indent: 12px;
}

/*=======================================================================

        Form Styles
        
 ========================================================================*/
form label {
    display: block;
    font-size: 16px;
    line-height: 18px;
    cursor: pointer;
    margin-bottom: 9px;
}
.field .text input, .field1 .text input[type="search"], textarea {
    font-size: 10px;
    width: 100%;
    border: none;
    box-shadow: none;
    border: none;
    padding: 0;
    margin: 0;
    outline: none;
    resize: none;
}

form textarea {
    height: 150px;
}

.field1 .text input[type="search"] {
    -webkit-appearance: textfield;
}

.field1 .text, .field .search, .field .textarea {

    font-size: 13px;
    padding: 6px 10px;
    outline: none !important;
    background: #fff;
    box-shadow: inset 0 0px 0px #ccc,
        0 1px 0 #f4fff6;
    border: 1px solid #b7b7b7;
    border-radius: 4px;

}

.field1 .text.oval {
    border-radius: 1000px;
}

.field1 .search {
    padding: 2px 10px;
    line-height: 24px;
    margin-bottom: 0;
    border: 1px solid #1d692d;
    box-shadow: 0px 1px 1px #94dda6,
        inset 0 1px 3px #888;
}
.field1 .text:focus
{
    background-color:#82c8fb;
    color: #ffffff;
}
label + .text, label + textarea, label + select, label + div.dropdown, select + div.dropdown {
    margin-top: -9px;
}

.field1.error .text,
.field1.error .textarea {
    margin-top: 45px;
    box-shadow: inset 0 2px 3px #feb9a2,
        0 1px 0 #f4fff6	;
    -webkit-transition-duration: .2s;
}

.field1.error .text, .field.error .textarea, .field.error input, .field.error textarea {
    color: #cd4225;
    background: #ffdace;
}
.msg {
    opacity: 1;
    height: auto;
    overflow: visible;
    top: 0px;
    display: block;
    width: 100%;
    background: #b72a18;
    color: #fff;
    font-weight: 500;
    font-size: 14px;
    text-align: center;
    padding: 8px 0;
    border-radius: 4px;
    -webkit-transition-duration: .2s;
}


.loader
{
    position: absolute;
    top: 200px;
    left: 500px;
}
.error
{
    padding: 5px;
    border: 1px solid #ECECF2;
    background-color: #ffcc99;
    color: #000000;
    font-family: arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: normal;
    width: 90%;
}
span.note
{
    color: #FF0000;
    font-weight: bold;
    text-transform: none;
}
/**
 * GRIDVIEW STYLES
 **/
.gridview
{
    font-family: "arial";
    background-color: #FFFFFF;
    width: 100%;
    font-size: 10px;
    border: 2px solid #F9FFFF;
    margin-top: 10px;
}
.gridview th
{
    
    padding: 5px;
    font-size: 13px;
    /*background-image: url('../images/bghead5.png');*/
    background-color: #99ccff;
    color: #ffffff;
    font-weight: bold;
   
    height: 22px;
    border: 2px solid #F9FFFF;
    /*background-repeat: repeat-x;*/
}
.gridview th a{
    color: #003300;
    text-decoration: none;
}
.gridview th a:hover{
    color: #003300;
    text-decoration: underline;
}
.gridview td
{
    border: 2px solid #F9FFFF;
    background: #ECFFFF;
    color: #333333;
    font: 11px "verdana";
    padding: 0px;
}
.gridview tr.even td {
    background: #FFFFFF;
}
.gridview td a{
    color: #003300;
    font: 11px "verdana";
    padding: 2px;
    text-decoration: none;
}
.gridview td a:hover {
    color: red;
    font-weight: bold;
    text-decoration:underline;     
}

.gridview td:hover
{
    background: #FFFFCC;
}
.gridview tr.even td:hover {
    background: #FFFFCC;
}
.frmtable
{
    border: 1px solid #999;
    border-radius: 4px;

}