﻿
/*........................................................Register PAGE start..........................................................*/

.register_a_inner_left_div_main{width: 340px; height: auto; float: left; margin: 0px 0px 10px 0px; background-color: #FFF;}
.register_a_inner_left_name{width: 250px; height: auto; float: left; margin: 10px 0px 0px 0px;}
.register_a_name{ width: 140px; height: auto; float: left; margin: 0px 10px 0px 0px; font-size: 12px; font-family:Roboto Condensed; color: #3e3f3f;
padding-top: 3px; text-align: left; padding-bottom:5px;}
.register_a_btn_login_reset{ width: 300px; height: auto; float: left; margin: 20px 0px 20px 11px;}

/*........................................................Register PAGE FINISH..........................................................*/
/*........................................................login popup...................................................................*/

#lean_overlay{position: fixed; z-index: 10000; top: 0px; left: 0px; height: 100%; width: 100%; background: #000; display: none;}
#signup{width: 780px; padding-bottom: 2px; display: none; background: #FFF; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; box-shadow: 0px 0px 4px rgba(0,0,0,0.7); -webkit-box-shadow: 0 0 4px rgba(0,0,0,0.7); -moz-box-shadow: 0 0px 4px rgba(0,0,0,0.7);}
.modal_close{ position: absolute; top: -12px; right: -16px; display: block; width: 30px; height: 30px; background: url(../login_popup/closebox.png); z-index: 2;}
.form_submit{
background: linear-gradient(top, #ffa018, #db8101);
background: -moz-linear-gradient(top, #ffa018, #db8101);
background: -webkit-linear-gradient(top, #ffa018, #db8101);
background: -ms-linear-gradient(top, #ffa018, #db8101);
background: -o-linear-gradient(top, #ffa018, #db8101);
border:none; color: #FFFFFF; border-radius:4px 4px 4px 4px; height:30px; cursor:pointer;}
.form_submit:hover{	
background: linear-gradient(top, #db8101, #ffa018);
background: -moz-linear-gradient(top, #db8101, #ffa018);
background: -webkit-linear-gradient(top, #db8101, #ffa018);
background: -ms-linear-gradient(top, #db8101, #ffa018);
background: -o-linear-gradient(top, #db8101, #ffa018);
height:30px; cursor:pointer;}
.login_div{ width:auto; height:auto; float:right;/* margin-top:10px;*/ font-family:Roboto Condensed; font-size:12px; color:#888888; text-decoration:none}
.login_div:hover{ color:#316db9}
.login_popup_main_div{width:730px; height: auto; float:left; padding:10px; margin:0px 15px;}
.text { text-align:justify; color:#62676b; font-family:Roboto Condensed; font-size:10px; vertical-align:top; text-decoration:none; resize: none; }

input.text, input.email, input.password, textarea.uniform, input.list { border-color: #d1d1d1; border-radius: 3px 3px 3px 3px;border-style: solid; border-width: 1px; color: #000; font-family:Roboto Condensed; font-size: 12px; font-weight: normal; outline: 0 none; padding: 3px; float:left; transition: all 0.4s ease-in-out; -webkit-transition: all 0.4s ease-in-out; -moz-transition: all 0.4s ease-in-out;}
input.text:focus, input.email:focus, input.password:focus, textarea.uniform:focus {box-shadow: 0 0 4px #d1d1d1;}
.login_a_forgot_pass{ font-size: 12px; font-family:Roboto Condensed; color: #8b8b8b; text-decoration:none; margin-left:10px;}
.login_a_forgot_pass:hover{ text-decoration: underline; color: #ff9f1a;}
.heading_reg{ width:300px; height:26px; float:left; font-family:Roboto Condensed; font-size:18px; color:#ff9f1a; border-bottom:2px solid #ff9f1a; text-align:left;}
.line_reg{ width:1px; height:300px; float:left; margin-top:20px;
linear-gradient(top, #83b1e1,#1b4067);
background: -moz-linear-gradient(top, #ffffff,#e6e6e6,#ffffff);
background: -webkit-linear-gradient(top, #ffffff,#e6e6e6,#ffffff);
background: -ms-linear-gradient(top, #ffffff,#e6e6e6,#ffffff);
background: -o-linear-gradient(top, #ffffff,#e6e6e6,#ffffff);}

/*.........................................login popup.......................................*/



.login_popup_heading_main_div{width:100%; height: auto; float:left; padding:0px; margin:0px 0px; border-bottom:1px solid #c0c0c0;}